[2017-08-09 09:16] samuelleach opened #1 "Add examples/points.csv file"
It's really exciting to see this project - there is a definite gap in the market for maps within Jupyter notebooks. Folium doesn't scale well to 1000+ data points.

I noted that for the demo notebook, points.csv is missing. It would be handy to have that file to get up and running as quickly as possible.

[2017-08-09 13:00] ryanbaumann commented on #1
@samuelleach thanks, will PR this right away

[2017-08-09 13:04] ryanbaumann opened #2 "Add image export function to viz classes"
A common data science workflow is to include a static image version of a visual for sharing or screen shot creating.

This could be added as a `saveImage()` HTML button on a `viz` class object that downloads the current map viewport as a PNG, or it could be a viz.toImage() python function that outputs a PNG of the viz at the stated zoom, center, pitch, and bearing.

[2017-08-09 13:16] ryanbaumann opened #3 "Fetch data for viz from python web server for jupyter"
A CircleViz today requires a Python dictionary formatted as geoJSON.  The Python dict is stringified when the user passes the geoJSON-format dict as the `data` parameter, which in turn is and passed to an HTML-format string object used to create the viz.

To increase the load-time performance and data volume limit the data for the viz could be served from the Python web server back end.  This coul

[2017-08-09 13:20] ryanbaumann opened #4 "Mapboxgl viz types roadmap"
This ticket tracks the viz types we plan to add to the library.

Add a Python class for the following visual types

- [x] Circle map
- [ ] Graduated Circle map
    * In progress
- [ ] Clustered Circle map
- [ ] Heatmap
- [ ] Choropleth (fill map)
- [ ] Dot Density map
- [ ] Linestring map
- [ ] 3D extrusion map

[2017-08-09 13:25] ryanbaumann opened #5 "Add text-label option to circle* viz classes"
For all circle* viz types, add a parameter option to use a data property as a text-label.

An example of labels on top of circles based on a data property:
https://www.mapbox.com/mapbox-gl-js/example/cluster/

[2017-08-09 13:30] ryanbaumann opened #6 "Break out common viz fucntions into a base parent class"
There are several viz class functions that are common among every viz class type:

* show()
* as_iframe()
* as_image()
*  Objects:
        self.access_token = access_token
        self.div_id = div_id
        self.width = width
        self.height = height
        self.data = data
        self.style_url = style_url
        self.center = center
        self.zoom = zoom

We should wrap these functio

[2017-08-10 16:05] #1 closed

[2017-08-12 02:47] ryanbaumann commented on #5
An initial version of this merged in 0.0.2.

[2017-08-12 02:47] #5 closed

[2017-08-14 21:34] perrygeo opened #8 "Javascript and HTML templating"
Having the js/html portions of the application written as python strings is not ideal for maintenance.

We could instead write them as [jinja2 templates](http://jinja.pocoo.org/docs/2.9/) in order to make them easier to find and edit.

[2017-09-23 00:26] #8 closed

[2017-09-23 00:28] ryanbaumann commented on #6
Common HTML, JS, and CSS elements are now in `main.html`.

[2017-09-28 13:45] rvlander opened #10 "Trying to run the example, no points are displayed on the map."
**Configuration:**
* Python: 3.6.2
* Chrome: Version 61.0.3163.100

The maps is displayed, is correctly centered and zoomed, but no points are displayed.

[2017-09-28 14:11] ryanbaumann commented on #10
@rvlander thanks for the bug report!  Were you able to successfully load the local file into a dataframe in the prior cells in the example notebook?

[2017-09-28 14:31] rvlander commented on #10
@ryanbaumann, yes, I just had to generate color breaks manually since `jenks` seems broken.

I also tried with my data (before trying your example), and nothing was showing up too.

[2017-09-28 14:34] rvlander commented on #10
Just tested with Firefox, the problem remains.

[2017-09-28 19:43] ryanbaumann commented on #10
Interesting @rvlander.

Can you share a screenshot or attach the HTML?

What is the output of the viz.create_html() command if you run it in cell 11?

![](https://cl.ly/3A2o1I1D1U2e/download/Image%202017-09-28%20at%2012.45.36%20PM.png)

[2017-09-28 19:48] ryanbaumann opened #11 "Package Jenks with `mapboxgl` library"
Users have reported issues installing the `jenks` package via
* pip install -e "git+https://github.com/perrygeo/jenks.git#egg=jenks"

We should bundle up `jenks` with the `mapboxgl` library, as it will be one of the most common breaks classifiers to use on a domain of values.

 cc @perrygeo

[2017-09-29 07:08] rvlander commented on #10
There are no errors displayed in the javascript console.
Here is a part the generated html:
![mapbox_glhtml](https://user-images.githubusercontent.com/5236428/31004701-c44a4870-a4f5-11e7-88be-f3d7d800dcf6.png)

[2017-09-29 15:14] ryanbaumann commented on #10
@rvlander interesting.  I was able to re-create on a fresh machine that couldn't install the C-binding version of jenks.

I updated the example in the master branch to use a `slow` but python-only version of jenks.  Let me know if that works on the current master branch!

[2017-10-03 14:36] rvlander opened #12 "`df_to_geojson` adds properties `latitude` and `longitude`"
When converting data using:
[code]
the resulting JSON looks lilke:
[code]

Is it a desired behaviour?

[2017-10-03 19:01] perrygeo commented on #11
What specific problems are users having installing jenks? I'd anticipate two main issues:

1. they don't have `git` installed
2. they don't have a compiler toolchain to build C extension modules

Publishing an official release of the `jenks` module to pypi will solve (1) - Just `pip install jenks`. Honestly something I should do anyways. I'd much prefer to do this than fork the code and bundle it

[2017-10-04 04:58] ryanbaumann commented on #11
@perrygeo I think relying on a third party classification lib makes sense here - jenks is just the beginning of classifications users may want to use to calculate a domain of breaks.

PySAL seems like a great option.

[2017-10-04 05:05] ryanbaumann commented on #10
@rvlander

* What values did you use for your color stops when you were unable to see the points plotted on the map?

* Can you open up a new ticket to track the issue below:

[2017-10-04 06:47] rvlander opened #13 "Displaying plots on map, with no property, choosing a colour and a size."
This appears not to be possible currently and it would be a huge gain.

[2017-10-08 15:48] ryanbaumann commented on #12
@rvlander no.  Looks like the problem is here -> https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/utils.py#L11

All columns are included if properties is `None`.  Flagging this as a bug to fix for the next release.

[2017-10-08 15:52] ryanbaumann commented on #13
@rvlander Sounds like you want to be able to display data with just point geometries, no property values, while selecting the default color and size?

I think we should do this by exposing the [default Mapbox GL Style Spec property](https://www.mapbox.com/mapbox-gl-js/style-spec/#function-default) for a data-driven style.    This would allow you to specify a `default` circle radius, circle color,

[2017-10-09 07:47] rvlander commented on #13
@ryanbaumann, yes it is what would be need.

[2017-10-09 13:01] ryanbaumann commented on #13
@rvlander excellent.  I'll add this as a feature for the next release.

[2017-10-17 20:50] ustroetz opened #15 "Add support to show polygons"
Hi there,

I would like to add support to show polygons. Before I start with an implementation, I would like to discuss with you the best approach.

I was thinking about the following steps:
1. Create a new template `polygon.html`.
2. Create in `viz.py` a new Class `PolygonViz`.
3. Create in `viz.py` a new base Class `Viz`. `PolygonViz`, `GraduatedCircleViz`, and `CircleViz` inherit from this Clas

[2017-10-24 04:20] #12 closed

[2017-11-10 03:03] ryanbaumann commented on #15
@ustroetz sorry for the delay here - yes, we'd love to see a PR including line and polygon visualization support!  I'd recommend using the nomenclature for your line and polygon visualizations as

a) `line`
b) `fill` (or possibly `choropleth`)

You are exactly right in your approach.  For an example of what adding a new layer type looks like in total, check out the Heatmap PR - https://github.com/

[2017-11-19 00:24] ryanbaumann opened #17 "Map Flicker in Chrome, Convert Stops to Expressions"
**mapboxgl version:** 0.1.0

# Background
Upgrade GL JS version to fix a common bug in Chrome browsers that causes the map to ficker on render.

# Tasks
- [x] Upgrade to GL JS v0.42.1 to address chrome-flicker bug
- [x] Change all `property function` generation to GL Expression generation.

[2017-11-19 02:19] ryanbaumann commented on #17
PR to close this issue in https://github.com/mapbox/mapboxgl-jupyter/pull/18 cc @perrygeo

[2017-11-20 13:09] nlehuby opened #19 "support for custom mapboxgl style"
It would be nice to be able to load a custom json file with a malboxgl style in it, instead of using mapbox ones.

[2017-11-20 17:58] ryanbaumann commented on #19
@nlehuby great call - right now we wrap the python variable passed to style_url as a string in each jinja template.  We should enable an option to pass a python dictionary in JSON format and have the Jinja template format it as a JS object, not a string.

I propose we change the property name for `viz` class to `style` from `style_url`, and in the background check if the passed object is a `url` s

[2017-11-20 19:48] nlehuby commented on #19
thanks for your reply !

Your proposal is very close to the javascript mapboxgl API, so it would very easy to use. I do approve :+1:

[2017-11-21 15:58] don-lab-dc opened #20 "Feature request: adjusting opacity"
I would be lovely to be able to adjust the opacity of the heatmap, graduated circle, and circle layers, so that the underlying streets are visible.

[2017-11-22 00:11] ryanbaumann commented on #20
Agree - I'll put this on the roadmap for the next release @don-lab-dc.  Additionally, it would be great to expose the `layer order` of the visual, which allows the developer to put the data visualization layer anywhere in the map layer stack.

Currently, we've hard-coded this to be the `waterway-label` layer to work with Mapbox GL styles.

[2017-11-23 00:11] artttt opened #21 "raster data layers"
I see in the roadmap that you want to be able to add raster data layers from numpy arrays.
I wanted that as well so set up a very basic tile server that runs within a jupyter notebook and will project, tile and render a numpy array quickly on the fly.
Its still rough around the edges but works very nicely for me using folium and ipyleaflet to view tiles.
https://github.com/artttt/livemaptiles

[2017-11-23 02:01] ryanbaumann commented on #21
@artttt thanks for posting!  We may use this - will leave this issue open as a reference as we build raster support in the future.

[2017-11-30 00:39] akacarlyann opened #22 "Support for category data in Circle and Graduated Circle Visualization Classes"
Noticed you have this on your roadmap - I made some small changes to __viz.py__, __circle.html__ and __graduated_circle.html__ allowing user to use Mapbox's "categorical" type to assign circle color or radius.  My implementation includes properties for default color and radius mentioned in #13 .  I have a branch ready to submit as a PR at your convenience.

__viz.py__
[code]
etc.

and

__circle.ht

[2017-12-03 02:49] ryanbaumann commented on #22
@akacarlyann I like this approach and it's a great starting point.  Please submit a PR.

The only thing you'll need to add is a `generateStepExpression` and `generateMatchExpression` function in `main.html`.  We're mapping all the legacy `stops` functions before GL JS v0.41 to expressions to prepare for a complete swap to full expression support in a future release.

Here's the existing `generateI

[2017-12-03 03:00] ryanbaumann opened #23 "Generate map style sheet in python to simplify string replacement jinja template approach"
# Background
Currently, there is business logic occurring in both the Python `mapboxgl` library and the javascript templates.  Since this is a Python library, we should isolate all business logic to Python, and make the Javascript component a true template only.

# Approach

1. Generate a complete [Mapbox GL Style Sheet](https://www.mapbox.com/mapbox-gl-js/style-spec/) in a Python dictionary in th

[2017-12-03 03:05] ryanbaumann commented on #23
This proposal would solve https://github.com/mapbox/mapboxgl-jupyter/issues/19

[2017-12-03 03:06] ryanbaumann commented on #10
The latest `examples` notebook now uses the PySAL library to calculate data domain breaks.  Check out the example in the latest master branch and [here](www.mapbox.com/labs/jupyter)

[2017-12-03 03:06] #10 closed

[2017-12-03 03:09] ryanbaumann commented on #11
Let's keep data transformation outside of the scope of this library, and instead build examples using PySAL for how to prepare data to use with `mapboxgl`.

I updated the current example notebook to use pySAL to calculate natural breaks.  Here's the [code](https://github.com/mapbox/mapboxgl-jupyter/blob/master/examples/test-mapboxgl-jupyter.ipynb), and the live example at www.mapbox.com/labs/jupyt

[2017-12-03 03:09] #11 closed

[2017-12-03 03:12] #17 closed

[2017-12-03 05:48] ryanbaumann opened #24 "Streaming data architecture"
Investigate creating a streaming data architecture from a Pandas dataframe to a map using the approach in the `Smalltalk` python library https://github.com/murphy214/smalltalk.

[2017-12-05 20:30] murphy214 commented on #24
There are some interesting things you could do with it i.e. things like [jupyter widgets]( https://ipywidgets.readthedocs.io/en/stable/examples/Widget%20List.html) can help you build a gui for a dataset much easier than in js. Of course your paying for it in loading the dataset into memory every time.

You could also have something that just renders vector tiles from a data set (dataframe) passive

[2017-12-05 20:45] murphy214 commented on #23
This could be done with a websocket as well! Have you ever considered using something with a little more structure like a protocol buffer thats serialized as [json](https://developers.google.com/protocol-buffers/docs/proto3#json) if you knew what your were doing you could probably scrape the page with the style sheet spec on it to generate the protocol buffer structures based on the required field

[2017-12-05 23:23] ryanbaumann commented on #24
@murphy214 great notes.

Can you share this when it's ready?  Would love to incorporate this.

[2017-12-06 01:44] murphy214 commented on #24
Here's the new repo, I gave an example in the read me: https://github.com/murphy214/nlgeojson

There is a chance the install could fail I tested on a vm but I'm actually using compiled golang executables to read the geojson in parallel , and I'm sure there are corner cases that aren't supported however its like 30x faster reading in and you get nlgeojson dfs in the process.

I'm essentially readin

[2017-12-07 21:19] ulemanstreaming commented on #4
A strong vote for Clustered Circle maps. Dismayed to find it missing in the roadmap for 1.0.0.

Clustering is one of the best map visualization tricks to come along in recent years, making it possible to use large, global point data sets without prior subsampling or scale-based subsetting. Ideal for the data exploration stage of data science workflows.

[2017-12-19 18:34] rselover commented on #4
@ryanbaumann - based on your profile, it looks like you've got a lot going on!

My vote is for Choropleth - do you have a sense of when Jupyter dev will get more attention?

[2017-12-20 00:51] ryanbaumann commented on #4
@rselover heya!

Clusters and circles are next on the priority list.  We're working on some core Mapbox GL JS for data visualization abstractions that should make the python `mapboxgl` library here much more supportable and performant!

cc @perrygeo

[2017-12-26 18:48] ryanbaumann commented on #20
Closed in https://github.com/mapbox/mapboxgl-jupyter/pull/26

[2017-12-26 18:48] #20 closed

[2017-12-26 19:40] ryanbaumann commented on #4
Added preliminary clustered circle viz support in https://github.com/mapbox/mapboxgl-jupyter/pull/27 cc @ulemanstreaming

[2017-12-27 22:54] ryanbaumann commented on #24
@murphy214 just tested nlgeojson - it works great!  A simple architecture, for now, is just to use `nlgeojson` to export a data frame to a local geojson file very fast, and then load the local geojson file in the mapboxgl viz.

Here's an example with 380k earthquake points as a heatmap from the USGS API:

![](https://cl.ly/3W0R280I012V/download/Image%202017-12-27%20at%204.48.28%20PM.png)

[2017-12-28 00:59] murphy214 commented on #24
Great! Glad it ended up working! It should be quite a bit faster than putting it a normal json serializer/deserializer and it also shouldn't be so ram intensive as well! I really need to build out the read functionality a little more robustly to account for corner cases of "{}" in strings like a real json parser, because I think it could pretty useful to some people.

Any ideas for incorporations

[2017-12-28 01:31] ryanbaumann commented on #24
Agree it could be a very useful utility library @murphy214.  A few things I'm thinking to add:

1. Ability to pass a list of dataframe column names to include in an exported geojson.
2. Remove latitude and longitude from geojson properties since they're already included in the geometry.

Re: Lines and Polygons - That's next on the agenda for this library to offer an easy Pythonic interface for ana

[2017-12-28 01:58] murphy214 commented on #24
@ryanbaumann This could be done with minimal refactoring I'll take a look at implementing it tomorrow as I'm currently off for the holidays, it shouldn't take to long! I'll keep you posted!

[2017-12-29 03:05] akacarlyann commented on #22
@ryanbaumann Thanks, I'll follow up in the new year!

[2018-01-01 19:59] sherl0cks opened #28 "Save Map to HTML"
This is a feature request to save the map to file such that it could be subsequently served to a web browser, a la folium's `save` (see cell 3 in [this example](https://github.com/python-visualization/folium/blob/master/examples/Quickstart.ipynb))

[2018-01-01 23:25] sherl0cks commented on #28
appears that you can do something along these lines and works well enough. let me know if there is a more interesting solution. else, we can close this.

[code]

[2018-01-01 23:37] ryanbaumann commented on #28
@sherl0cks this is a very common need - I vote we add an export function for a each viz object.  Html file would be one option, image another option, odd a 3rd option, possibly other options to come.

[2018-01-02 02:10] sherl0cks commented on #28
that works for me. we need to make sure the feature it is added to an example when it is built.

[2018-01-02 03:03] ryanbaumann commented on #28
@sherl0cks great, added an initial example using your code - see it in this repo at /examples or at www.mapbox.com/labs/jupyter

Let's leave this ticket open as a placeholder for a broader `export viz` functionality.

[2018-01-02 03:15] ryanbaumann opened #29 "Public documentation"
As the API for mapboxgl-jupyter solidifies:

To hit a 1.0 release, we need great documentation.  Let's use this ticket to track docs to-dos:

- [x] Create documentation generation framework
- [ ] Doc content - viz types
- [ ] Doc content - utilities
- [ ] Doc content - web hosting

cc/ @perrygeo

[2018-01-02 03:17] ryanbaumann commented on #3
Loading a local geojson file served by the ipython notebook web server works excellent here.  Mapboxgl requests a local file from the jupyter server by passing a geojson filename to the mapboxgl.viz creation object.

Let's close this ticket.

[2018-01-02 03:17] #3 closed

[2018-01-02 03:18] ryanbaumann commented on #2
Related to https://github.com/mapbox/mapboxgl-jupyter/issues/28

[2018-01-02 05:23] sherl0cks commented on #28
@ryanbaumann nice. thanks for quick turn around

[2018-01-02 05:28] sherl0cks commented on #29
does utilities include the contents of the [color_ramps](https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/colors.py#L3) dictionary? for those not inclined to read source code, this a bit cryptic currently, especially until #13 is resolved.

what do you have in mind RE: documentation framework? I'm keen to collaborate here and have a small team that could help test.

[2018-01-02 21:32] ryanbaumann commented on #13
Adding that we should support a default color profile if none is passed by the user.

[2018-01-02 21:40] ryanbaumann opened #30 "Move create_color_stops function to utils.py"
Currently, the create_color_stops function is in colors.py - this is confusing for users, as the majority of utility functions are in utils.py.

[2018-01-02 21:47] ryanbaumann commented on #29
@sherl0cks

Agree on #13, we're planning to a) clearly document color options, and b) add default values for color ramps so a user can just pass `mapboxgl.viz.CircleViz(data=data, access_token=token)` and get a valid viz result.

Thanks for the doc collaboration offer - yes, we'd love to collaborate here!  @perrygeo and I will set up the doc generation set up in a new PR, and then we can collab on

[2018-01-02 22:20] cmtoomey opened #31 "Clicking on point should not re-zoom the map"
Currently, when a user clicks on a point, the map will snap to that point at the default zoom (or what is specified as a arg).

The map should not zoom out based on interaction with a point

![zoomjupyter](https://user-images.githubusercontent.com/12201602/34502392-199cf6ca-efc8-11e7-958a-c8ffd76bdf91.gif)

[2018-01-02 22:47] cmtoomey commented on #29
Additional Documentation specifics

- [ ] Differences between `color_stops` across APIs. What are the individual APIs expecting, and how do these tie back to Mapbox Style-spec requirements. Specifically for Heatmaps, there could be additional explanation as to how these values are interpreted and rendered.

Example:

Heatmap requires a color stop that looks like this: `heatmap_color_stops = mapbox

[2018-01-02 22:58] cmtoomey opened #32 "Allow selection of points in Map"
Rendering points as output of calculations and other processing is a good first step.

A user should be able to select points, and groups of points, for further analysis. This is similar to the `Keep Only` or `Exclude` functions that are used in Tableau's mapping functions.

Kept (selected data) or Excluded (All - Selected) should then be exported back to a DF for additional analysis.

[2018-01-03 00:36] ryanbaumann commented on #30
Done in https://github.com/mapbox/mapboxgl-jupyter/commit/264479e915938bd6e8ae5160e966b54619e3fd30

[2018-01-03 00:36] #30 closed

[2018-01-03 00:38] ryanbaumann commented on #24
Modified df_to_geojson() utility function to output a line-delimited geojson file.  https://github.com/mapbox/mapboxgl-jupyter/commit/4cb4ef3c1f32628525172ffeb555f3b46daaa602

Serving the file locally using the Jupyter Notebook web server works great.  It can be optimized from here, but this is a solid starting point.

[2018-01-03 00:38] #24 closed

[2018-01-06 17:33] ryanbaumann opened #33 "df_to_geojson() function should JSON-safe stringify all Pandas datatypes"
# Problem

Passing a datetime Pandas datatype column to df_to_geojson() as a property output throws a JSON serialization error.

See https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/utils.py#L28

# Solution

Add a data type check and JSON-safe stringification method for all Pandas datatypes `datetime64`, `timedelta[ns]`, and `boolean` .

[2018-01-14 19:11] ryanbaumann commented on #22
@akacarlyann did you have a branch ready to PR here?  Would love to review and merge in for categorical data.

[2018-01-14 19:11] ryanbaumann commented on #15
@ustroetz are you interested in submitting a PR for this feature?

[2018-01-14 19:15] ryanbaumann commented on #28
Here is the export to HTML approach captured in the example notebook:

[code]

[code]

[code]

* Now navigate your browser to http://localhost:8080/viz.html to see the viz

[2018-01-14 19:15] #28 closed

[2018-01-14 19:16] ryanbaumann commented on #19
@nlehuby is this an issue you could submit a PR for?

[2018-01-15 11:55] ustroetz commented on #15
Yes, I actually have a branch sitting here that I want to finish up :)

I'll try to open a PR by the end of the week 🤞

[2018-01-16 02:50] akacarlyann commented on #22
@ryanbaumann Still integrating the updates regarding the stops/expressions conversion but should have something for you soon!

[2018-01-18 18:23] ryanbaumann opened #34 "Support multiple layers in a map visualization"
# Problem

As we add more visualization types, it will be useful to pull in multiple visualization layers into the same visualization.  To do this, we'll need an API to `addLayer` to an existing visualization.

# Implementation

- [ ] Add `minZoom` and `maxZoom` properties to each viz type
- [ ] Create `addLayer` function to add a layer to an existing viz object

[2018-01-28 06:30] #22 closed

[2018-01-28 20:46] akacarlyann commented on #31
See line 90 in circle.html (91 in graduated_circle.html and 105 in clustered_circle.html for similar):
[code]

Can zoom just be omitted in these places to address this issue?

[2018-02-03 00:45] ryanbaumann commented on #31
@akacarlyann yes, agree that changing the zoom behavior change is the simple fix here.

One default option that I think is common is to `zoom` the map in +1 level when clicking on a point.  That would mean:

[code]

[2018-02-03 18:28] carsnwd commented on #34
I'll fork it and try to implement this, never done an open source contribution but see how this goes haha.

[2018-02-03 18:50] ryanbaumann commented on #29
Let's push on documentation this month.  The goal would be to enable a 1.0 release by the end of February.  @perrygeo any recommendations on a Python documentation system to use to publish website docs?

[2018-02-03 18:52] ryanbaumann commented on #21
This would be a particularly useful feature for interpreting the results of satellite and flyover imagery machine learning analysis.  I.E. you could show the raster data layers and extracted vector features over the top of the raster layers.

[2018-02-03 18:54] ryanbaumann commented on #2
Adding a help-wanted label here - I'd love to get this feature into a 1.0 release to allow distribution of Notebooks with lightweight static visualizations

[2018-02-03 18:54] #6 closed

[2018-02-03 18:54] perrygeo commented on #29
Sphinx is the gold standard: http://www.sphinx-doc.org/en/stable/

Configuration is a little tricky and it uses RestructuredText instead of markdown - but it's flexible with very nice HTML output.

[2018-02-03 18:58] ryanbaumann commented on #13
This should be possible now using the `color_default` and `color_function_type` options:

[code]

@rvlander can you confirm this works in the latest `mapboxgl` release on pip (0.1.4)?

[2018-02-03 19:11] ryanbaumann commented on #34
@carsnwd awesome, and thank you!  This will be a great feature for data science in Jupyter, because it allows us to use different types of data visualizations and data layers based on user interaction (zoom, a layer selection dropdown, etc)

No need to fork either - please feel free to just

a) Clone this repo `git clone git@github.com:mapbox/mapboxgl-jupyter.git`
b) Create a new branch `git branc

[2018-02-03 19:14] ryanbaumann commented on #29
Thanks @perrygeo.  Let's break out several doc tasks:

1. Setup Sphinx framework
2. Generate viz docs for parent viz objects (style, access_token, etc)
3. Generate viz docs copy for each specific viz type (circle, graduated circle, heatmap, clustered circle, and choropleth)

[2018-02-04 03:06] ryanbaumann commented on #15
There's an open PR starting this work at https://github.com/mapbox/mapboxgl-jupyter/pull/40

[2018-02-04 15:16] ustroetz commented on #15
Glad to see that someone picked up the work! Sorry that I was a bit slow on this.
Awesome to see that there is now so much traction on the project 👏

[2018-02-04 16:56] ryanbaumann commented on #29
Sphix docs are setup.  Need to format the docs and create the copy now.  New merges will automatically publish to readthedocs.org at

https://mapboxgl-jupyter.readthedocs.io/en/latest/mapboxgl.html

[2018-02-05 03:25] #31 closed

[2018-02-06 03:14] artttt commented on #21
@ryanbaumann I would help but im about to go on 2 months holiday. (woo hoo)
livemaptiles is already functional for the type of use you suggest. I use it like this almost daily.
Im sure there are many improvements that could be made though, and there might be some benefits of tighter integration into mapboxgl-jupyter although I find it handy how it works with anything that can consume tiles.

[2018-02-06 04:08] carsnwd commented on #34
I’ve been on and off trying to figure out this problem between classes and work, and wanted to write down what I’m thinking in case anyone else tries to take a stab or just for general thoughts. So when each viz is created, it creates the entire viz with an individual map. Initial idea I had to just create a set of child vizes to a parent...but that child viz is going to create it’s own map object

[2018-02-06 05:30] ryanbaumann commented on #34
That's spot on with how I'd approach it too @carsnwd!  I think you can just tackle the first part in an initial pull request - abstract the `mapboxgl.map` variable creation from the creation of visualization layers.  The main thing to ensure then is that each viz type contains a unique `source_id` and `layer_id` schema.  That should be pretty straightforward:

`data-circle`
`data-graduatedCircle`

[2018-02-19 04:55] #33 closed

[2018-02-19 16:15] ryanbaumann commented on #34
@carsnwd did you get a chance to look at adding in the next step for this issue - abstracting each viz layer to add to a base map?  Looking at what to include in the next release.

[2018-02-19 16:17] ryanbaumann commented on #15
@akacarlyann  did you get a chance to look at adding in the next step for this issue in your PR https://github.com/mapbox/mapboxgl-jupyter/pull/40?  Looking at what to include in the next release.

[2018-02-19 16:24] ryanbaumann opened #45 "Add splash screen message when access token is not valid"
If a user were to have an invalid access token (token deleted or Mapbox account expired) on their visual, we should present a relevant splash screen message.  That way a user of the visual understands a) who to contact and b) what to do in the case that a visual has an invalid token.

[2018-02-19 18:31] narlesky commented on #15
@ryanbaumann I have. Not quite done yet but I should have some time opening up in my schedule to work on this later in the week.

[2018-02-20 00:28] ryanbaumann commented on #45
wrong repository

[2018-02-20 00:28] #45 closed

[2018-02-20 06:05] carsnwd commented on #34
I have, still haven't gotten it done yet though. Today was the first day I've made some progress in a week or so, some other things in life have gotten in the way.

I'll try to get it sorted out and make a PR before the end of the month 😬

[2018-02-22 05:18] ryanbaumann commented on #29
@markmisener is moving on a markdown version of the docs here to host on Github - https://github.com/mapbox/mapboxgl-jupyter/pull/46

[2018-02-22 06:28] narlesky commented on #29
Does this mean veering away from readthedocs site?  Or will we port over the markdown files once all of the copy is written?

[2018-02-22 15:59] ryanbaumann commented on #29
@narlesky yes.  Apologies if we're crossing streams here.

We're planning to use markdown documentation for the initial launch, and delay the readthedocs / Sphinx docs implementation until a later release.

[2018-02-22 16:23] narlesky commented on #29
:+1:

[2018-02-23 03:01] ryanbaumann commented on #29
The markdown version of the docs are live!  Let's continue to use the markdown docs moving forward.

[2018-02-23 03:01] #29 closed

[2018-02-25 02:43] ryanbaumann opened #49 "Remove `pysal` as requirement for examples"
# Problem

`Pysal` depends on `scipy`, which can be a difficult dependancy to require users to install to get stared.  Removing `pysal` from the examples should increase a first-time users ease of running the examples.

# Solution

Use a `pandas.Series.quantile` to calculate breaks (instead of jenks / natural breaks with pysal).  https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series

[2018-02-25 02:44] ryanbaumann commented on #23
Working towards this in https://github.com/mapbox/mapboxgl-jupyter/pull/48

[2018-02-26 06:30] Juanlu001 opened #50 "Data does not show in JupyterLab from local geojson file resources"
I tried to reproduce the example given in the `README` with an `OpenMapTiles` style but the data does not show, I only see the tiles. This is the result:

![screenshot-2018-2-26 jupyterlab](https://user-images.githubusercontent.com/316517/36656063-bd009d7a-1ac6-11e8-9d4a-5e7223f00c45.png)

And this is the code:

[code]

I'm using mapboxgl 0.5.1 installed with pip 9.0.1 in Python 3.4 and latest Jup

[2018-02-26 15:36] scwilkinson commented on #50
I've had this same issue with mapboxgl, 0.5.1, pip 9.0.1, python 3.6.4, and JupyterLab 0.31.8.

A vanilla Jupyter Notebook launched in the same environment shows the data just fine!

I'm on macOS and use Firefox (58.0.2), but I have the same problem in Chrome (64.0.3282.167).

[2018-02-26 15:38] scwilkinson commented on #50
I should also note that I've had very similar problems with other libraries similar to mapboxgl (gmaps, folium etc) in JupyterLab, so potentially it's the problem?

[2018-02-26 18:08] ryanbaumann commented on #2
@akacarlyann the Mapbox Static API would work for small data use cases, but not large ones.  The good news is that rendering an image from a gl context (which is the rendered Mapboxgl map) is pretty straightforward - for this use case, if we're running in Jupyter I'm envisioning just a button you can push to save the rendered map to a JPEG or PNG file.  Supporting a headless python function to ren

[2018-02-27 01:32] ryanbaumann commented on #50
@scwilkinson @Juanlu001 thanks for the bug report.  The method we're using in the example is to export data for visualization to a local file `points.geojson`, and then load it from the local web server (which Jupyter is in charge of).  It looks like Jupyter Lab uses a different URL path to server local files than the root web server.

As a workaround, could you test exporting the dataframe to a p

[2018-02-27 01:37] ryanbaumann opened #51 "Accept custom color palettes in create_color_stops()"
# Problem

Currently, the `create_color_stops` function accepts a string that defines a color palette from ColorBrewer.  This function should also allow the user to pass a custom color palette as a list of color strings.  The documentation claims this is possible today, but it is not yet implemented.

# Solution

Make a PR to add support for passing a custom list of colors to `create_color_stops`

[2018-02-27 09:41] Juanlu001 commented on #50
It works, and I actually prefer this to the file-based approach :) Thanks!

[2018-02-27 10:30] scwilkinson commented on #50
This works for me! I wasn't paying attention to the terminal output from JupyterLab, which includes:

`[W 10:23:11.345 LabApp] 404 GET /points.geojson (::1) 2.29ms referer=http://localhost:8888/lab`

[2018-02-27 11:39] scwilkinson opened #53 "color_property, radius_property not used by ClusteredCircleViz"
I'm attempting to use a color_property or radius_property with a ClusteredCircleViz, which the [table of params](https://github.com/mapbox/mapboxgl-jupyter/blob/master/docs-markdown/viz.md#class-clusteredcircleviz) includes. However, from looking at the source and the errors I'm getting, these options don't seem to be present!

Is this an issue with the documentation?

[2018-02-27 13:26] ppessi commented on #51
Should it contain a check for if the list is valid?

[2018-02-27 14:30] ppessi commented on #51
I don't know how to read, I thought that the reference by ryanbaumann was a reference from another issue and not a commit :D Oh well

[2018-02-27 15:43] akacarlyann commented on #53
@scwilkinson can you post an example of what you are trying to do? In the source, __ClusteredCircleViz__ takes both _color_property_ and _radius_property_ as keyword arguments. Looks like this _is_ missing from the docs for initializing a __ClusteredCircleViz__ at the moment.

[2018-02-27 15:43] ryanbaumann commented on #50
Awesome @scwilkinson @Juanlu001, glad the local data object works!

I'll leave this ticket open.  We want to figure out an architecture for Jupyter Lab where the visualization can asynchronously load the data for performance and exporting the viz to an HTML file export reasons - this is especially useful when the data is very large.

[2018-02-27 15:55] scwilkinson commented on #53
I'm trying to do something like:

[code]

However I get:

```TypeError: __init__() got an unexpected keyword argument 'color_property'```

[2018-02-27 15:58] ryanbaumann commented on #51
I like your implementation, thanks for the PR @ppessi!  I'll use your suggested color checking method in the existing PR, it's cleaner and doesn't require another library dependancy -> https://github.com/mapbox/mapboxgl-jupyter/pull/54/commits/993b71955d63b8571d33ae67d0c310b65b8cf3c9

[2018-02-27 17:40] scwilkinson commented on #53
@akacarlyann I'd like to be able to combine a GraduatedCircleViz with a ClusteredCircleViz in some way. In my case I'm weighting points with some factor and I'd like the size of the cluster circles reflect the sum of these weights.

For example, let's say we've got a list of houses with occupancy. With a ClusteredCircleViz we're forced to have cluster circles that reflect the sum of houses in a re

[2018-02-27 19:19] #53 closed

[2018-02-28 05:59] #51 closed

[2018-02-28 05:59] ryanbaumann commented on #49
Closed in #52

[2018-02-28 05:59] #49 closed

[2018-03-02 15:42] ryanbaumann opened #57 "Improve documentation about how Mapbox API & Tokens work"
### Documentation and tests should:

1. How Mapbox GL JS does or does not require a Mapbox Access token.
    * Mapboxgl-Jupyter uses the Mapbox GL Style Spec, an open source specification for map styles.
    * If the style sheet you specify as the `style_url` does not use resources from Mapbox APIs - which means that you created a style sheet yourself from public or locally hosted map data sources

[2018-03-02 17:26] EtienneDesticourt opened #58 "MapViz raises a TokenError before checking whether a custom style_url is supplied"
Hi,

#57 indicates the library doesn't need a Mapbox token as long as the  `style_url` doesn't use resources from Mapbox APIs but the MapViz class raises a `TokenError` when `access_token` is None, even when using a custom `style_url` .

Cf this line:
https://github.com/mapbox/mapboxgl-jupyter/blob/e7106f1fc88b5342a98f5a35cdc445e05a74410e/mapboxgl/viz.py#L42

Currently we have to pass "pk" in the

[2018-03-02 17:55] EtienneDesticourt opened #60 "CircleViz doesn't plot data if color_stops is None"
Hi,

I was trying to plot a CircleViz and my points wouldn't appear. Once I supplied the color_stops argument they showed up.
If color_stops are required to plot data they should raise an error when missing, or be set to a meaningful default.
Related to #13 I think.

Cheers

[2018-03-08 12:32] ryanbaumann opened #62 "Propagate errors from Mapbox GL JS"
# Problem

The Mapbox GL JS library has tons of built-in error checking.

# Proposal

Propagate errors that affect the visualization (invalid token, invalid Mapbox style sheet, missing source, etc) and throw them from the python `mapboxgl` code execution.

Reference PR- https://github.com/mapbox/mapboxgl-jupyter/pull/59#issuecomment-371403399

@perrygeo @sgillies, any thoughts on this approach?

[2018-03-09 00:21] sgillies commented on #62
@ryanbaumann Sounds like a good idea to me. A Python exception is way better than map that never renders. I'm really interested in seeing how it would be done!

[2018-03-11 16:10] ryanbaumann opened #65 "Create Anaconda distribution"
We should create an auto-deployed `Anaconda` distribution of `mapboxgl-jupyter`.  Data scientists and analysts frequently use the Anaconda distribution of Python.

Process: https://conda.io/docs/user-guide/tutorials/build-pkgs-skeleton.html

[2018-03-11 17:34] ryanbaumann commented on #21
Flagging that this is in active development by @vincentsarago in three PRs:

1. Raster Tile layer - https://github.com/mapbox/mapboxgl-jupyter/pull/63
2. Image layer - https://github.com/mapbox/mapboxgl-jupyter/pull/61
3. Local image slippy tile server (extension) - https://github.com/mapbox/mapboxgl-jupyter/pull/64

[2018-03-11 18:11] ryanbaumann commented on #34
@carsnwd no rush here.  If you have a branch that's in progress, please submit a PR - we'd love to get multiple layer functionality into the next release in March.

[2018-03-11 18:52] Casyfill commented on #50
agreed that in-memory object usage is better than storing temporary files.

[2018-03-11 18:59] Casyfill opened #66 "Geopandas integration"
it would be great to have a geopandas integration.
I can envision it working like this (tqdm-pandas style):

[code]

it  would be awesome ( in my opinion ) to mimic matplotlib-esque interface in this case as much as it is possible - all the way to
[code]

[2018-03-11 18:59] Casyfill commented on #66
what do you think? I might try to make a draft PR

[2018-03-11 19:01] Casyfill opened #67 "Jupyterlab extentions"
Not exactly related to this project, but still - it would be awesome to have an alternative geojson extension (or alternative engine for the same extension), as current jupyterlab geojson viewer is very, very slow

https://github.com/jupyterlab/jupyter-renderers

[2018-03-11 20:00] ryanbaumann commented on #67
Great idea @casyfill!  Since jupyterlab extensions are all written in JavaScript, it would be relatively straightforward to just replace the leaflet.js implementation of the geojson viewer with Mapbox GL JS.  This mapboxgl-jupyter Python library is a useful reference implementation, but I would recommend starting from the vanilla Mapbox GL JS library for this solution.  Happy to support you if you

[2018-03-11 20:04] ryanbaumann commented on #66
@caseyfill absolutely!  Currently the MapboxViz class takes `data` passed to the class initializer as a geojson format string, or URL to a geojson format object.

In that light, I would consider just making a geopandas example workbook that directly passes a geodataframe to a viz and converts to geojson on the fly.  Would that make sense based on your experience, or should we consider directly acc

[2018-03-12 00:36] ryanbaumann commented on #65
Inital conda version of mapboxgl-jupyter is published at:

`conda install -c rsbaumann mapboxgl`

### To Do
- [ ] Check distribution on python 2_7 and 3_5+, and on macOS vs. Windows vs. Linux
- [ ] Add docs to deploy process, or webhook to autodeploy
- [ ] Use mapbox conda organization cc @sgillies @perrygeo

[2018-03-14 01:23] danielfrg commented on #65
I would recommend publishing this to [conda-forge](https://github.com/conda-forge). Its a set of community maintained recipes that will also build the conda packages for win, osx, and linux and publish it to the conda-forge channels where some anaconda users get packages.

The process is relatively simple: take the conda recipe and make a PR.
You can read more about here: https://github.com/conda-

[2018-03-14 01:39] ryanbaumann commented on #65
Excellent, thanks for the tip @danielfrg.  `conda-forge` it is.

[2018-03-14 18:05] #58 closed

[2018-03-16 16:01] vincentsarago opened #70 "add python2.7 in Travis tests matrix"
https://github.com/mapbox/mapboxgl-jupyter/blob/506b73c08978c824df04bdb4efc9551aa266c798/.travis.yml#L3-L4

we do not run tests for python 2.7

cc @ryanbaumann

[2018-03-16 18:14] ryanbaumann opened #71 "Enable `data` for any viz to come from a vector tile source"
# Problem

Currently, each viz class `data` object only supports geojson format data from a URL or local variable geoJSON format object.  We should enable users to pass a data as a vector tile source.

# Implementation

I propose we maintain that the `data` object should be a URL or local geoJSON format object.  We can add another optional parameter to each parent viz class named `vector_source_la

[2018-03-16 18:30] colllin opened #72 "Bug in `GraduatedCircleViz` with `radius_function_type='match'`?"
I believe I'm seeing a bug in `GraduatedCircleViz`.

Here's the JS console error:

[code]

Here's the `paint` it is attempting to set on the layer, which is failing validation (I believe this is because my default radius has at some point been converted from a number to a string):

[code]

Here's my python code:

[code]

[2018-03-16 21:48] ryanbaumann commented on #72
Yes, this is a bug - `circle-radius` must always get a numeric value.  It looks like the `radius_defualt` is coerced to a string value "10".

I'm not quite sure why this is happening since you're passing a numeric value.  It should just be a pass through.  https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/templates/main.html#L110

Can you confirm what the value of your `viz.radius_de

[2018-03-17 03:07] #70 closed

[2018-03-17 04:38] colllin commented on #72
I also thought to check that.

[code]

[2018-03-17 15:31] ryanbaumann commented on #72
Thanks for validating.  That narrows this down. Ill make a quick PR to fix.

[2018-03-17 16:38] #72 closed

[2018-03-19 16:47] sgillies commented on #65
Yeah, 👍 on conda-forge. I know some of the principals and they've won me over, at least for getting Rasterio into the hands of desktop and notebook users.

[2018-03-24 03:44] ryanbaumann opened #75 "Add function for showing map in Databricks notebook"
Databricks notebooks use the `displayHTML` function instead of Jupyter's `display` function to show HTML in a results pane.

We should adopt the `show` function to work with dataBricks notebooks, by falling back to the `displayHTML` function if needed.  A secondary option would be to add a `viz.showDatabricks()` function.

[2018-03-25 03:24] ryanbaumann opened #76 "Default Radius should be `1` for all circle and graduatedCircle visualizaitons"
In the current master branch, the `radius_default` is None.  This should be `1`.

[2018-03-25 03:25] ryanbaumann opened #77 "Radius should be adjustable for `circleViz`"
In the current master branch, the radius is not adjustable for the `circle` visualization.  We should add a `radius` parameter just like the GraduatedCircleViz

[2018-03-25 03:27] ryanbaumann commented on #21
This shipped, save the local image slippy tile server which is currently WIP.  Closing!

[2018-03-25 03:27] #21 closed

[2018-03-25 03:28] ryanbaumann commented on #19
This shipped in #59 !

[2018-03-25 03:28] #19 closed

[2018-03-25 19:46] #77 closed

[2018-03-25 19:46] #13 closed

[2018-03-25 19:46] #76 closed

[2018-03-25 19:46] ryanbaumann commented on #76
Closed in #78

[2018-03-25 19:47] ryanbaumann commented on #77
Closed in #78

[2018-03-25 19:49] ryanbaumann commented on #13
Closed in #78

[2018-03-25 19:54] ryanbaumann opened #79 "Changelog for 0.6.0"
Tracking the current changelog for v0.6.0 release, targeting to release this week on pypi:

### Breaking changes

*  The Viz `style_url` property is now just `style` to reflect that a local style sheet may be used, not just a URL

### New Features
* Add Raster Tile Viz class https://github.com/mapbox/mapboxgl-jupyter/pull/63
* Add Image viz class https://github.com/mapbox/mapboxgl-jupyter/pull/61

[2018-03-26 01:44] ryanbaumann commented on #60
Closed in https://github.com/mapbox/mapboxgl-jupyter/pull/78

[2018-03-26 01:44] #60 closed

[2018-03-26 01:58] ryanbaumann opened #80 "Improve Legend Design"
The current default legend is very basic - we should improve the design with a bit of CSS magic.

![](https://cl.ly/040l2i2k2Q1V/download/Image%202018-03-25%20at%206.58.40%20PM.png)

[2018-03-26 01:59] ryanbaumann opened #81 "Add linestring viz"
Create a new Viz class tyle, LinestringViz, that allows a user to create a line map from a geojson source or a vector tile source.  Follow the same techniques used to make the Choropleth Viz.  https://github.com/mapbox/mapboxgl-jupyter/pull/40

Example:

![68747470733a2f2f636c2e6c792f3330304832413074323131512f646f776e6c6f61642f496d616765253230323031372d30322d31342532306174253230362e31332e333825323

[2018-03-26 02:06] ryanbaumann opened #82 "Add Timeslider option to all visualizations"
A time slider/filter is a critical component to many data visualizations.  We should start thinking about how to add a time slider component to any viz class type, where a mapboxgl `filter` could be applied for each time step or filter category in the slider.

Questions to consider:

1. Would users want a filter/time slider with all visualizations?
2. Would we want to handle this at the data level

[2018-03-26 02:11] ryanbaumann opened #83 "Add 3D `height` option to ChoroplethViz"
Add support to `extrude` a Choropleth polygon layer.  Expose the option as `height*` properties to the Choropleth Viz.

* `height_stops`
* `height_property`
* `height_default`

Example Viz: 3D Population Density - www.mapbox.com/bites/00273

![](https://cl.ly/0s3n0j463k24/download/Image%202018-03-25%20at%207.09.37%20PM.png)

[2018-03-26 02:14] ryanbaumann commented on #34
Let's make this a push to finish for 0.7.0, which we're targeting to release at the end of April 2018.

[2018-03-26 02:16] ryanbaumann commented on #32
Let's push for this for the end of May target release, 0.8.0

[2018-03-26 02:17] ryanbaumann commented on #66
@Casyfill is this something you're planning to PR?  Putting this on the target for our end of April release, 0.7.0

[2018-03-26 02:18] #67 closed

[2018-03-26 02:20] ryanbaumann commented on #75
I'm thinking we could handle this easily by just checking if the `displayHTML` function exists in the project session, and using that function if it exists.

[2018-03-26 08:40] Juanlu001 commented on #67
@ryanbaumann May I ask, in which pull request was this closed?

[2018-03-26 15:07] ryanbaumann commented on #67
@Juanlu001I should have added a comment here, apologies.  I closed this issue  because it doesn't directly relate to the `mapboxgl-jupyter` library.  The idea here is to replace `leaflet.js` with `mapboxgl.js` in another Jupyter Lab extension, https://github.com/jupyterlab/jupyter-renderers.

I opened a ticket in https://github.com/jupyterlab/jupyter-renderers/issues/116 to track there.

[2018-03-28 14:17] ankit6883 opened #84 "Circle Overlapping"
I am showing near 40k data and someplace circle overlapping is happening I want to see all circle separately.is there any property i can use.

[2018-03-28 19:39] DruidSmith commented on #65
@ryanbaumann Short term, I'm not finding it in your rsbaumann channel via conda

[code]

[2018-03-28 22:32] ryanbaumann commented on #65
I'll get a version out on Conda-Forge with the latest updates and drop in the readme (and this ticket) ASAP @DruidSmith.  In the meantime you can start with `pip install mapboxgl`

[2018-03-29 04:00] akacarlyann commented on #84
Hi @ankit6883 !  Any chance you can provide a screenshot of what you're seeing?  Are you using a CircleViz?

[2018-03-29 04:04] akacarlyann commented on #80
I think this could go well with generalizing the function for creating the legend, too!  Right now I have a hack in the __ChoroplethViz__ class that styles the legend symbols as rounded squares instead of circles.  Are you thinking of inline CSS with Jupyter or defining more style components in __viz.py__?  I'm happy to work on this a bit.

[2018-03-29 04:40] ryanbaumann commented on #80
Yes, that would be excellent @akacarlyann.  There's lots of inspiration to take for great design - are you confident with design, or would you prefer to start with some suggested designs?

As far as how to compile the CSS - if we're going to make the stylesheet bigger, I recommend breaking it out into it's own `templates/style` directory, and loading the css files you need using Jinja templates.

[2018-03-29 05:07] akacarlyann commented on #80
If you've got an idea in mind, I'm happy to take a look.  Otherwise my thought was to start with centering the legend title and possibly adding a color-background to the header.  Otherwise, feel free to point me in a different direction.
<img width="136" alt="screen shot 2018-03-28 at 9 53 29 pm" src="https://user-images.githubusercontent.com/13527707/38070775-7a962530-32d2-11e8-9d9f-169e505511aa.

[2018-03-29 05:58] akacarlyann opened #87 "Bug in point-viz-categorical-example"
__default_color__ and __radius_default__ need to be updated to __color_default__ and __radius_default__.

[2018-03-29 07:41] ankit6883 commented on #84
![issueheatmap - copy](https://user-images.githubusercontent.com/32532587/38076237-a46817b2-3352-11e8-9b40-5b8b0cb3dd5c.PNG)

[2018-03-29 16:35] akacarlyann commented on #84
It looks like you are asking about multiple data layers in a single map. Is that right?  This is on the roadmap for mapboxgl-jupyter but there's no support for it just yet.

I'd recommend reducing the circle radius size and decreasing the opacity if you want the invisible green points to show through.  The other thing you could do is edit the z-order of both layers so that the green points lie on

[2018-03-30 02:38] ryanbaumann commented on #87
Closed in https://github.com/mapbox/mapboxgl-jupyter/pull/85

[2018-03-30 02:38] #87 closed

[2018-03-30 02:45] ryanbaumann commented on #79
Released on 3-29-2018

[2018-03-30 02:45] #79 closed

[2018-03-30 19:50] anmolgarg commented on #66
This works well for me.
[code]

[2018-03-30 20:25] Casyfill commented on #66
sure, it can work, just looks ugly :-)

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

On Fri, Mar 30, 2018 at 3:50 PM anmolgarg <notifications@github.com> wrote:

[2018-04-01 01:25] akacarlyann commented on #83
@ryanbaumann I've started on this.  I basically lifted the scheme for calculating the weight stops for a heatmap or radius stops, but had to greatly exaggerate the height gradient for visibility on the map.  I'll submit a PR for your review :)

<img width="866" alt="extruded choropleth" src="https://user-images.githubusercontent.com/13527707/38168935-7449cbf6-3510-11e8-8a86-53982de98a3b.png">

[2018-04-01 02:33] #15 closed

[2018-04-04 22:40] ryanbaumann commented on #84
Do you have any followup questions @ankit6883 ?

[2018-04-07 17:39] #84 closed

[2018-04-15 01:44] ryanbaumann commented on #81
Agree with color and width being the two major features to control, @akacarlyann.  It's similar to the Choropleth, just Choropleth uses color and height, while Linestring uses color and width.  Obviously excited to review a PR, if you have one!

[2018-04-15 02:35] ryanbaumann commented on #81
Great @akacarlyann.  We can open up a separate PR to address the `utils` function sprawl before the next release.  Agree we need to keep the utils functions as generic and re-usable across visualizations as possible.

[2018-04-17 03:57] #83 closed

[2018-04-19 06:00] akacarlyann commented on #23
This is going to help so much with multi-layer maps if we can include the layer definitions!!  Been playing around with serializing the property expressions on the Python side to get styled heatmaps layered under a point and linestring viz.  Fun stuff : )

<img width="821" alt="screen shot 2018-04-18 at 10 53 54 pm" src="https://user-images.githubusercontent.com/13527707/38973659-ce206a46-435b-11e

[2018-04-19 13:35] ryanbaumann commented on #23
@akacarlyann yeah this will unblock a lot of use cases - and it looks like you have a POC already!  Is it something you're planning to PR or just an experiment?

[2018-04-20 22:20] bnaul opened #93 "Unfilled choropleth cells"
I've noticed that often some cells will not receive a color depending on the corresponding value. I uploaded an example GeoJSON that reproduces this behavior on the latest master:
[code]
![screen shot 2018-04-20 at 3 18 25 pm](https://user-images.githubusercontent.com/903655/39076098-39f7e2d2-44ae-11e8-9fd8-2dfe13555077.png)
I thought maybe there was something wrong with the polygons themselves, b

[2018-04-20 23:37] akacarlyann commented on #93
@bnaul Thanks for the heads up!  The line change I mention below may correct the problem for you.

@ryanbaumann I think this may be related to difference in behavior for an exponential interpolation versus the linear interpolation that was originally in place.  I was able to display the colors properly by changing line 96 in __main.html__ from ```expression = ['interpolate', ['exponential', 1.2],

[2018-04-21 01:04] ryanbaumann commented on #93
@akacarlyann yes, that should fix this issue.  Expressions for non-zoom driven functions should scale linearly by default.

[2018-04-21 01:15] akacarlyann commented on #93
Sweet. That also resolves a slight mismatch in color computation for vector vizes vs geojson choropleth maps.

[2018-04-21 03:35] #93 closed

[2018-04-26 07:06] ryanbaumann commented on #81
Closed in https://github.com/mapbox/mapboxgl-jupyter/pull/92

[2018-04-26 07:06] #81 closed

[2018-04-29 14:01] murphy214 opened #96 "Significantly faster df_to_geojson function for file output (8x)"
Hey this should probably be a pull but some of the point simplification I'd guess from the geojson package does made it to much of pain to write tests. Anyway heres a file that implements df_to_geojson in effectively the exact same but much faster.

Nothing crazy is being done here just utilizing pandas methods to create the geometry string and then to_json off the dataframe for our properties wra

[2018-04-30 02:29] ryanbaumann commented on #96
@murphy214 nice speedup!  I like that it still uses the to_json() method of the dataframe where appropriate for JSON serialization and list comprehension.  How much memory does this approach consume versus the baseline method, which operates on one row in the data frame at a time in memory?

[2018-04-30 03:26] murphy214 commented on #96
I'd have to profile it, as I'm not sure what exactly is going on with underlying dataframe methods  but I think it would be a pretty safe assumption that the memory implications of this implementation are at least equal to the size of the geojson file itself as it is allocating the entire geojson string for all the features in memory.

That being said if you run into issues with the geojson file s

[2018-04-30 19:05] saulshanabrook commented on #50
In Jupyterlab you can use the `/files/<filename>` path to get a raw file. I know altair is going through a lot of the same design decisions, with their new version. They now support conditionally writing a temporary json file, which you can enable if you have a lot of data that you don't want to inline into the notebook.

Do you need anything from Jupyterlab to make progress on this?

[2018-04-30 20:54] ryanbaumann commented on #96
I agree with you @murphy214 re: using an out of memory structure for larger dataframes.

 Let's perform some quick tests to see what the real world memory impact is, i.e. does this effectively double/triple/etc. the memory-needs of a dataframe.  My main concern here is that a dataframe could comfortably fit into memory, but may require several multiples of that memory footprint to hold an addition

[2018-05-01 17:57] ryanbaumann commented on #50
@saulshanabrook can you show a quick example of how to directly link to a file in Jupyter Lab (and return the raw file, like a download link)?

[2018-05-01 18:26] saulshanabrook commented on #50
@ryanbaumann  For example, I have a `Dockerfile` in my root directory when I open JupyterLab. If I go to `http://localhost:8888/files/Dockerfile` it will be downloaded.

If I change the example in the README to add `/files/` to the filename, I think it appears to work for me in JupyterLab:

<img width="1584" alt="screen shot 2018-05-01 at 2 25 33 pm" src="https://user-images.githubusercontent.com/

[2018-05-01 20:12] ryanbaumann commented on #50
excellent, thanks @saulshanabrook.  That's perfect, we can add to the docs for how to run in Jupyter Lab.  Closing!

[2018-05-01 20:12] #50 closed

[2018-05-01 20:29] jasongrout commented on #50
Be careful that using the absolute url `/files/filename.ext` may not work if you have a url prefix (for example, I think in JupyterHub there is a prefix of the username?). It also is a bit tricky if you have
a file not in the root directory of the server.

If you use a relative URL, the frontend has a URL resolver that takes the url and should be able to give you back a URL to get that file.

[2018-05-01 20:32] jasongrout commented on #50
Your rendermime extension that creates the visualization has access to this resolver, so it should be able to take a filename and convert it to a url it can use. It's passed in the arguments: https://github.com/jupyterlab/jupyterlab/blob/d740dee4980557a1d58fe0371bc467166f6cd9ac/packages/rendermime-interfaces/src/index.ts#L284
You probably want to use the `getDownloadUrl` function of that object: h

[2018-05-01 20:45] jasongrout commented on #50
I just realized that the way you are displaying data is to send an html iframe to the browser, so you won't have access to this url resolver.

Another way to do it that more clearly separates the backend from the rendering in the frontend is to define a mimetype for your data (rather than encoding everything into html in the kernel). Send your data over to the frontend in some semantically meaning

[2018-05-01 20:54] ryanbaumann commented on #50
Agree we could make a Jupyter Lab extension in the future - let's open up a new ticket to propose that sort of a solution, since it wouldn't be compatible with other HTML Notebook ecosystems.

[2018-05-01 21:01] jasongrout commented on #50
Since you can transmit a mime*bundle* with both HTML and this new format included, it could be backwards compatible, with the disadvantage of transmitting data twice in two different formats.

[2018-05-02 19:30] bchowTWC commented on #34
Hi @carsnwd - just wondering if you managed to make any progress on this since your last update? No hurries or worries if not.

If you're up for it, I'd be more than happy to take a look and see what I can do. Thanks!

[2018-05-02 20:28] akacarlyann commented on #34
@bchowTWC and @carsnwd I've been experimenting with this too though I don't have image or raster layers worked in yet. It's kind of wrapped up in generating layer styles in Python, so still needs some adjustments. I can clean up what I have and share if you're interested :)

[2018-05-03 00:26] bchowTWC commented on #80
Apologies for hijacking, didn't want to create another issue on a related topic...

Background: one of my use cases involves dropping a polygon on the map from a single geojson feature and filling in the enclosed area. I currently (mis)use a `ChoroplethViz` to accomplish that, using a single colour stop and a property that's common across all my features. That almost gets the job done for me; the

[2018-05-03 00:39] bchowTWC commented on #34
@akacarlyann - Definitely interested, if you don't mind. Those are actually the two layers I need most... good timing.

Much appreciated!

[2018-05-03 01:26] ryanbaumann commented on #80
I'm in favor of a `legend=True` option @bchowTWC, where the default parameter value is `True`.  This could be added as a base parameter to all visualizations, along with `style` and `access_token`.

[2018-05-03 01:31] ryanbaumann commented on #96
If you pull together the numbers for ☝️ @murphy214, please open a PR.  Would love to see the speedup of this magnitude!

[2018-05-04 18:48] sgillies opened #98 "Configure RTD builds"
Goal: get continuously built documentation at https://mapbox-mapboxgl-jupyter.readthedocs-hosted.com/en/.

[2018-05-06 00:41] akacarlyann commented on #80
Work in progress at #100 :)

[2018-05-06 01:53] ryanbaumann commented on #80
Agree with that approach @akacarlyann - generate the div in the javascript function instead of using more CSS magic to conditionally show/hide the legend

[2018-05-06 01:58] ryanbaumann commented on #98
Thanks for tackling this @sgillies!  Will add a review in the PR.

[2018-05-09 13:42] #98 closed

[2018-05-14 16:41] lwasser commented on #82
+++1

[2018-05-29 16:53] groovedrm opened #101 "Scale not part of Chroma import"
@ryanbaumann Perhaps a problem with my installation, but am having issues with the import of "Scale" from Chroma. Poking through the Chroma package, it appears Scale is no longer part of the Chroma code. Has anyone else run across this same issue, or am I just suffering from an installation issue?

[2018-05-29 17:12] #101 closed, assigned to nobody

[2018-06-10 22:14] hunterowens opened #102 "Example Documentation Loads Map but no Points"
Hi!

I'm trying to make the example plots render, spefically, the CADC Points example. However, I get the followed `evented` error in chrome and the plot only renders a map/legend, no points.
<img width="1440" alt="screen shot 2018-06-10 at 15 13 20" src="https://user-images.githubusercontent.com/1735650/41206914-fbec1720-6cc0-11e8-8418-9e84ae47fc19.png">

[2018-06-10 22:15] hunterowens commented on #102
Using chrome, python3, mac os x.

[2018-06-11 17:45] hunterowens commented on #102
Hi @ryanbaumann. I have run the examples in the example directory from master on the `point-viz-categorical` notebook. See screenshot of error.

<img width="1436" alt="screen shot 2018-06-11 at 10 44 26" src="https://user-images.githubusercontent.com/1735650/41248042-96f2bb5e-6d64-11e8-8ceb-3c5dcc120b7f.png">

[2018-06-11 20:23] ryanbaumann commented on #102
Great, thanks for the screenshot.  Looks like you're using Jupyter Lab - Jupyter Lab does not support the same method for loading local resources (a local geojson file).  Can you try the examples using `juypter notebook`?

Jupyter lab is supported using in-line geojson sources.  Details here - https://github.com/mapbox/mapboxgl-jupyter/issues/50

[2018-06-11 21:56] hunterowens commented on #102
Works, thanks @ryanbaumann.

I'm going to close this issue, but I think it would be helpful to have some sort of warning message for MapboxGL in the lab environment. How much of a lift would a PR be on that?

[2018-06-11 21:56] #102 closed

[2018-06-12 03:49] ryanbaumann commented on #102
Thanks @hunterowens.  The ideal PR would be to figure out what the URL prefix should be in Jupyter Lab to access local resources https://github.com/mapbox/mapboxgl-jupyter/issues/50#issuecomment-385781213, or to just use a local geojson format object instead of loading the geojson via an HTTP get request for the examples.

[2018-06-12 21:21] kuchaale opened #106 "Image transparency"
Is there any way how to adjust the image transparency (please use for example [this image](https://www.dropbox.com/s/t9ldedi4eeke7cm/radar_image_edited.png?dl=0) in the example below)?

[code]

[2018-06-13 07:53] kuchaale commented on #106
Tacaswell's second solution from [here](https://stackoverflow.com/questions/18159874/making-image-white-space-transparent-overlay-onto-imshow) worked for me.

[2018-06-13 07:53] #106 closed

[2018-06-14 00:07] jamiecook opened #108 "Default width in LineString Vis is coerced to a sting"
I believe that this line in the linestring vis has the same problem as reported in #72

https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/templates/linestring.html#L61

specifically ![image](https://user-images.githubusercontent.com/151124/41384726-d02831b2-6fba-11e8-94ff-86010ab5e5e3.png)

[2018-06-14 02:31] ryanbaumann commented on #108
Thanks for the bug!  Yes, this is the same bug.  Fix is to remove the double quotes in the linestring template around `{{defaultWidth }}`.

[2018-06-14 05:28] jamiecook commented on #108
Thanks @ryanbaumann ... i wasn't sure if there were other aspects of #74 that were also applicable otherwise I would have just raised a PR... I'll do that now

[2018-06-16 16:15] #108 closed

[2018-06-16 16:30] ryanbaumann commented on #32
We missed this deadline for end of May, but, in better news, we now have the `setFeatureState` capability in GL JS v0.46.  This will allow us to create hover/highlight styles very efficiently, like this https://bl.ocks.org/ryanbaumann/733ba99c5ca1d9d15259081b395e4b00/1bc1318c5421deb73d77ece247b23eafd685ce86

# Next Steps

- [ ] Upgrade to GL JS v0.46, launching out of [beta ](https://github.com/ma

[2018-06-16 16:44] ryanbaumann commented on #71
Adding this to the 0.7.0 release - it's super powerful to connect any vector tile source to any visualization type with essentially infinite data volume.  The only exception we'll need to make here is for `cluster` maps, which are not compatible with Mapbox Vector Tile sources.

# To Do

- [ ] Accept a vector tile URL as in the map `data` parameter
- [ ] Add a new parameter to the map, `dataLayerN

[2018-06-16 16:47] ryanbaumann commented on #23
This is a blocker for https://github.com/mapbox/mapboxgl-jupyter/issues/34

[2018-06-25 02:29] ryanbaumann opened #110 "Replace expressions with `setFeatureState` for choropleth and linestring vector tile visualizations"
# Motivation

The data-join technique can be used in choropleth and linestring visualizations to join metadata to geometry in vector tiles over a unique identifier (or primary key).  The data-join technique currently uses expressions to do the join, which is slow to execute when joining more than 10k or so features.

# New feature

Use map.setFeatureState() released in GL JS v0.46 to perform the d

[2018-06-26 19:01] HADDADENICAR opened #111 "is supercluster algorithme used for ClusteredCircleViz"
i found [in this issue](https://github.com/mapbox/supercluster/issues/34) that supercluster is already integrated in **mapbox-gl-js** .
so i  ask if the ClusteredCircleViz is base on it as well ?
if not what is the algorithme on which it is based ?

[2018-06-27 22:23] ryanbaumann commented on #111
Yes, the implementation in `mapboxgl-jupyter` is based on the supercluster library bundled with mapboxgl-js.

[2018-06-27 22:23] #111 closed

[2018-06-30 10:22] blackhuman opened #113 "Add map `scollZoom` option to map viz initialization"
When scrolling down in notebook, the mapbox would be zoomed accidentally.

Could the interactive behavior be controlled by `map.scrollZoom.disable()` and as a config in MapViz class?

[2018-07-03 10:30] rutgerhofste commented on #65
+1 for conda forge

[2018-07-03 10:43] rutgerhofste opened #114 "Blank map on Google Colab, Jupyter on EC2 instance and Local (windows 10)"
My first baby steps with mapboxgl were no success. I get a blank map using Google Colab, Jupyter on Amazon EC2 and even running locally:

https://gist.github.com/rutgerhofste/6aadc6835699762889296437e52280d5

Am I doint something wrong or is the example no longer supported? Maybe you can add a troubleshooting section.

[2018-07-03 11:58] rutgerhofste commented on #114
I found the issue. The access_token = token argument is missing in some examples.

[2018-07-04 11:54] anderl80 commented on #28
Can I share a map with clusters to someone else without starting a web server?

[2018-07-05 07:19] ryanbaumann commented on #28
@anderl80 yes, if you include your map `data` parameter as a geojson-format python dictionary, then the data for your map will be packaged up inside your exported map HTML file and can be opened just by opening the HTML file in a browser.

[2018-07-06 23:52] bshahbazi opened #115 "Mapbox fails to render the points if the input DataFrame start row index is not zero"
Hi,

Mapbox does not work if the DataFrame index does is not zero. It produces an incorrect json output with extra comma at the very first of the json file. An easy fix for it right now is to reset_index of the input DataFrame. The source of issue is at:

file: mapboxgl-jupyter/mapboxgl/utils.py -> function: df_to_geojson -> line: 49

[2018-07-07 12:05] ryanbaumann commented on #115
Thanks for the bug report!  Will confirm this and get into our next release.

[2018-07-07 12:09] ryanbaumann commented on #114
Thanks for the report @rutgerhofste.  Can you link to the specific examples you weren't able to get to work, or did the `access_token` change solve your issue?

[2018-07-09 08:15] rutgerhofste commented on #114
Adding `access_token` solved the issue. It would be great if the examples would be all consistent. Either specify the access_token parameter everywhere or nowhere. Additionally raising an error e.g. "No valid access token" might make debugging easier. The package is extremely powerful and looking forward to see it evolve over time.

[2018-07-12 02:06] Jeeva-Ganesan commented on #65
Please upload for ubuntu linux 64 bit version as well.

    conda install -c rsbaumann mapboxgl
    Solving environment: failed

    PackagesNotFoundError: The following packages are not available from current channels:

    - mapboxgl

    Current channels:

      - https://conda.anaconda.org/rsbaumann/linux-64
      - https://conda.anaconda.org/rsbaumann/noarch
      - https://repo.anaconda.com/

[2018-07-13 11:59] rutgerhofste commented on #96
it might also be helpful to take a look at the geopandas package. I'm using geodataframes quite often for quick inspection of results.

[2018-07-13 12:09] rutgerhofste opened #116 "Tooltip showing only two items"
Some of the examples [here](https://nbviewer.jupyter.org/github/mapbox/mapboxgl-jupyter/blob/master/examples/notebooks/choropleth-viz-example.ipynb) have tooltips with multiple items in them. However when I create my visualization I only get the match key and "color_property" keys in the tooltip but not "year":2014. Any idea why?

[code]

![capture](https://user-images.githubusercontent.com/104505

[2018-07-13 12:16] rutgerhofste commented on #116
The map in the example and the JSON data do not correspond. In the JSON data the key is called "name" whereas in the tooltip the key is called: "STATE_NAME"

[2018-07-22 22:41] ryanbaumann commented on #116
@rutgerhofste for the Choropleth visualization, in the current version of mapboxgl-jupyter 0.7.3 we insert into the tooltip all properties in the matching vector tile feature.  https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/templates/vector_choropleth.html#L133

You're right, this is not consistent with other visualization layers not using the `vector tile` data join technique.  L

[2018-07-31 16:30] ryanbaumann commented on #115
Thanks for flagging @samuellach, investigating this now.

[2018-07-31 16:35] samuelleach commented on #115
I found my case is related to some column renaming I was doing in Pandas. Possible minimal example.

`df.rename(index=str, columns={"A": "a", "B": "c"})` -> Causes a problem.
`df.rename(columns={"A": "a", "B": "c"})` -> works.

Docs for `rename` here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html

I'm not familiar with what rename is doing and why it needs the

[2018-08-02 20:28] akacarlyann commented on #71
@ryanbaumann I'm willing to work on this one (it also helps with the multi-layer maps) but often struggle to find good test data. Can you possibly create and share a vector layer of the healthcare example data so I can work the data join with example data we already have in this project?

[2018-08-03 03:27] ryanbaumann commented on #71
@akacarlyann that's amazing - thank you for offering to help!

I have.....a lot of tilesets you can test with.  Here's a public tileset of the healthcare data that you can use with any Mapbox access token - `rsbaumann.2pgmr66a`

[2018-08-04 10:39] blackhuman commented on #113
Thanks very much, I'll have a test on your branch.

[2018-08-07 03:54] akacarlyann commented on #71
@ryanbaumann Thanks!  What's the name of the layer for that vector dataset?

[2018-08-07 03:57] ryanbaumann commented on #71
@akacarlyann updated the comment above with the source-layer name of the tileset.

[2018-08-08 15:20] #113 closed

[2018-08-09 01:56] akacarlyann commented on #80
For next steps on this, I think the best things would be:
- [ ] smart text wrapping/scaling in legend item text
- [ ] a variable radius legend for graduated circle viz
- [ ] variable width legend for linestring viz
- [ ] some other support for multi-variable legends
- [ ] legend placement controls (currently always lower right of map)

[2018-08-09 06:16] akacarlyann commented on #71
@ryanbaumann  I've got CircleViz and GraduatedCircleViz working with vector tiles, so thanks for that!  Per https://github.com/mapbox/mapbox-gl-js/issues/5856, looks like cluster maps don't support using vector source data at this time.  Thoughts on if we should punt this or ...?

[2018-08-09 07:48] akacarlyann commented on #116
This will fit in well after #120.  Since working with vector join-data is fresh, what's the actual desired composition of the tooltip?  Only the ```vector_join_property ``` plus the properties in the JSON join-data?  This means losing out on potentially a large amount of info stored in the vector tiles and having to recreate it in the JSON join-data .  Not that it's a huge concern for these cases,

[2018-08-09 14:11] ryanbaumann commented on #71
This is awesome!  Unlocks the ability to run a bigger data analysis, cut vector tiles from the analysis, and visualize them right in Jupyter.  Yes, we'll need to integrate a tool to cut vector tiles, ideally using `tippecanoe` for maximum performance.

Correct - you can cluster data to put into a vector tile source using Tippecanoe, but can not create a cluster from a vector tile source on the fly

[2018-08-09 14:25] ryanbaumann commented on #32
GL JS v0.48 will include a method to auto-generate feature-index values to use with feature states.  Let's use that here.  https://github.com/mapbox/mapbox-gl-js/releases/tag/untagged-5c84f285d746975d5c2b

[2018-08-09 14:27] ryanbaumann commented on #116
This for sure.  From there it would be nice to optionally be able to specify other properties from the vector tile source to show in the tooltip.  Thoughts @rutgerhofste?

[2018-08-09 14:42] rutgerhofste commented on #116
I can add my 2cents from my use case. I am visualizing data for 17000 water basins in the world. The water basins are static and I use additional data (from Bigquery -> pandas -> join with mapbox-gl-jupyter) to generate insights. Creating a choropleth is a first step but when a basin stands out  I want to know the details. When I click on the basin I would like to know other properties such as run

[2018-08-21 20:46] glebmezh commented on #75
@ryanbaumann I tried using

[code]
in Databricks, but the map does not render for some reason. No errors either. I used the example from the man page.

[2018-09-24 17:49] lucasvw commented on #34
Hi all, this seems definitly like a good next step as it comes closer to a more natural way of building up a map: creating a single map instance and adding layers for the stuff you want to see visualized.

Just wanted to check: the initial use-case seems to be about having one single visualisation (layer) turned on at a time:

As well as adding only one layer of each type:

This seems imho to be u

[2018-09-24 19:18] ryanbaumann commented on #34
@lucasvw ah, yes, the intention for this feature is to allow a user to add multiple layers to a map at the same time, including of the same layer type (two circle layers, for example).  I'll update the ticket scope to clarify.

[2018-10-01 04:01] emakarov commented on #34
@ryanbaumann is this still in progress?

[2018-10-01 06:59] emakarov commented on #34
@ryanbaumann I created some very fresh draft, where I managed to visualise two layers on same map
in point-viz-categorical-example.ipynb

https://github.com/mapbox/mapboxgl-jupyter/pull/126

Any feedback is welcomed. Hopefully will have time to finalise it for merge

[2018-10-01 12:42] lucasvw opened #127 "Rendering issues with multiple extruded layers"
Hi there, I am currently implementing #34 (multi-layer support)

Just running into some weired rendering issues:

![schermafbeelding 2018-10-01 om 14 30 40](https://user-images.githubusercontent.com/4293177/46288879-96705080-c587-11e8-8866-b45e94a727d6.png)

![46289835-755d2f00-c58a-11e8-9006-7bba617cd75a](https://user-images.githubusercontent.com/4293177/46331267-5193fa80-c617-11e8-8ed6-552eba0b6

[2018-10-01 12:59] lucasvw commented on #127
Here is another shot, on which it might be clearer:

![schermafbeelding 2018-10-01 om 14 57 40](https://user-images.githubusercontent.com/4293177/46289835-755d2f00-c58a-11e8-9006-7bba617cd75a.png)

[2018-10-01 13:40] ryanbaumann commented on #34
Excellent, thank you @emakarov!  Will check your your PR.

[2018-10-01 14:39] emakarov commented on #34
@ryanbaumann I've checked on several my local examples, layers are working (maybe need more testing)
what I need, and what is missing
1) Need to re-write the Legend for Multi-layer case. Not clear how to do it better though.
2) Need to have some menu to toggle layers visibility

[2018-10-02 11:51] lucasvw commented on #127
Fixed it by refactoring the template to only add the extrusion layer to the map (if extrusion is configured through the options), this fixes it but still its kind of a weird bug. Was also thinking that it might have something to do with this {{belowLayer}} perhaps.. not fully sure though.

[2018-10-20 23:22] akacarlyann opened #130 "Jupyter Bug: causing Travis Python 3.6 build failure"
**prompt-toolkit** requirement conflict is causing failure in Travis build for Python 3.6 due to recent update with Jupyter.  More info: https://github.com/jupyter/jupyter/issues/370

Potential solution: specify specific versions of Jupyter and prompt-toolkit?

[2018-10-20 23:33] #130 closed

[2018-10-20 23:33] akacarlyann commented on #130
Appears to be fixed with update of mapbox gl version.

[2018-10-21 19:00] #71 closed

[2018-10-21 19:06] ryanbaumann commented on #80
Closed in #100 - let's open a new issue to track improvements @akacarlyann

[2018-10-21 19:06] #80 closed

[2018-10-23 19:26] riastrad opened #131 "Allow Datetime Data Fields to Be Shown in Something Other than Epochs."
Currently, this library automatically converts any dataframe columns that are datatime formatted into epochs. Here's the relevant code:

https://github.com/mapbox/mapboxgl-jupyter/blob/01252516dd2ded6022ea6ff39928ba3536c88ea5/mapboxgl/utils.py#L21

This means that tooltips end up showing epochs by default instead of more readable string formatted datetimes. It would be nice if we allowed this defa

[2018-10-24 02:34] licyeus commented on #115
Opened a PR to fix this. Workaround for now (as stated by bshahbazi) is to `reset_index` so that your index begins with `0`.

An aside, @ryanbaumann, could you clean up stale branches? I use gitflow branch naming conventions and the presence of `bugfix` branch prevented me from pushing my branch named `bugfix/...` (and produced some cryptic errors). Thanks!

[2018-10-24 07:28] mingchau commented on #115
`df.reset_index()` helped me with my work! you saved my day, thank you. @bshahbazi

[2018-10-25 01:37] akacarlyann commented on #114
@adinesia can you provide your code snippet? I'm happy to take a look. Have you checked that you have a valid access_token set in your environment or in the inialization of your viz object?

[2018-10-25 01:42] adinesia commented on #114
Sorry, just solved the problem, i'm adding access_token just like @rutgerhofste did. Thanks a lot

[2018-11-08 23:45] AnneEstoppey opened #133 "Enhancement - better feedback from mapbox when things are not the way they should be"
Hello

I am still new to mapbox, and suffer a little from lack of feedback from mapbox when things are not how they should be. The dataset just doesn't display on the map, without any indication of what could be wrong.

For instance today, I merged to dataframes into a new one.
There were both pointsets.

I ran the geojson file and proceeded to display the map.

(Note that I had already displayed

[2018-11-12 18:32] akacarlyann commented on #75
@glebmezh Did you ever come up with a solution to this?  I'm wondering what happens if you try
[code]
I have no experience with Databricks, but I'd love to help get this checked off.

[2018-11-16 18:55] lvkrlv commented on #114
MapboxGL returns blank map in Jupyter Notebook, Jupyter Lab, in Chrome and Opera, using python 2 and 3. The same result every time. That's not a problem with token — it works correctly in other services.
Any ideas?
![2018-11-16_21-51-07](https://user-images.githubusercontent.com/6715380/48641146-ded5b780-e9e9-11e8-81cf-1e0682a012c6.png)

[2018-11-16 19:40] ryanbaumann commented on #114
What does your developer console show?

[2018-11-16 21:10] lvkrlv commented on #114
Thanks for your answer.
Console looked like there are an issue with key:

![2018-11-17_00-06-26](https://user-images.githubusercontent.com/6715380/48647324-b1ded000-e9fc-11e8-98b4-5f1a24450ae3.png)

I placed token directly inside ChoroplethViz parameters and it works:

![2018-11-17_00-05-09](https://user-images.githubusercontent.com/6715380/48647392-daff6080-e9fc-11e8-87a0-fc7468864e6f.png)

Thank

[2018-11-16 21:38] akacarlyann commented on #114
@lvkrlv Glad you sorted it out!  Looks like the syntax you want for your first try would have been
```token = os.getenv('MAPBOX_ACCESS_TOKEN', your_private_access_token)```,
but including the token argument directly in your map initialization should always work :)

[2018-11-19 22:59] ecatkins opened #138 "Click on point in CircleViz map"
I have a CircleViz map, in which one of the properties is a hyperlink. Is there a setting that allows me to click through to this hyperlink? Currently, trying to select the label box with the properties,  seems to unselect/unhover the data point in question.

[2018-11-20 00:13] akacarlyann commented on #138
@ecatkins the pop-up for each feature in your data is rendered with HTML so there is definitely a way to embed links there. The easiest thing may be to preprocess your data to wrap your urls in HTML link elements but I'll see if I can think of anything else. There is a setting to disable mapclicks that we might need to play with to deal with the behavior I think you're describing. I think I have s

[2018-11-20 14:01] ecatkins commented on #138
@akacarlyann Yes, I had already wrapped the url with <a> tags, which works quite well when I render it in other places. If you have a solution to alter the click behavior, that would be amazing!

[2018-11-25 02:03] akacarlyann commented on #138
@ecatkins Check out the solution I posted at #139.  You'll want to configure your `CircleViz` instance with `popup_open_action='click'`.  It's a little wordy, but a good option for those who want to click in the popup windows. Hope this helps!

[2018-11-25 07:13] akacarlyann commented on #131
Sample usage:
[code]

[2018-11-26 17:01] ecatkins commented on #138
@akacarlyann Thank you, that seems to work!

[2018-11-26 18:49] ryanbaumann commented on #133
Hi @AnneEstoppey, thanks for your ticket.  To make this ticket actionable, I recommend that we scope it to a specific error message to add to the Mapboxgl-Jupyter library.  Based on your description, how does this sound?

[2018-11-26 22:36] akacarlyann commented on #131
@ryanbaumann @riastrad Is PR #140 adequate to close this issue?

[2018-11-26 22:46] riastrad commented on #131
@akacarlyann I believe it is! Thanks carrying this one across the finish line.

[2018-11-26 22:46] #131 closed

[2018-11-27 01:15] #138 closed

[2018-11-27 03:04] ryanbaumann commented on #127
This is such a great visualization @lucasvw!

For this specific bug, were you adding two layers to the map - one line layer and one fill-extrusion layer?

[2018-11-27 15:29] ryanbaumann commented on #127
@lucasvw thanks for linking to your code.  In the sample code, the line-on-the-ground layer was plotted `above` the fill extrusion layer in the layer stack.  Thus is makes some sense why the viz shows the symptoms in your sample image.

That brings to mind one thing we'll need to document for multiple layers - the order in which a user adds layers, matters!  Or alternatively, the user can re-order

[2018-11-27 15:29] #127 closed

[2018-11-27 15:34] ryanbaumann opened #142 "Add release tests for various browsers"
Add release process that includes testing features on each of Chrome, Firefox, Safari, and Edge browsers.

[2018-11-27 15:35] AnneEstoppey commented on #133
Hello, sorry for delayed answer, yes I think this error message looks good!

Have you reproduced this issue on your side?

Cheers :-)

[2018-11-27 15:41] AnneEstoppey opened #143 "Adding a scale in mapboxgl-jupyter"
Hello again

I noticed that there is no possibility to add a scale on the map (Jupyter Notebook, Python 3).

It seems that this possibility exists in the JS version (it was pointed to me by your helpdesk).
See screenshot below.

Would it be possible to also have this feature added in the maboxgl-jupyter?

Cheers :-)
![mapbox_js_scale](https://user-images.githubusercontent.com/35219455/49092841-291

[2018-11-27 15:56] #2 closed

[2018-11-27 16:04] ryanbaumann commented on #133
We just released v0.10.0 on pypi - can you test if this issue still exists in your sample notebook after running `pip install mapboxgl --upgrade`?

[2018-11-27 18:00] akacarlyann commented on #143
@AnneEstoppey Definitely, though currently the bottom-left corner is reserved for the Mapbox logo, so we'll have to work out a good way to fit all the info without too much clutter. At this point we have zoom controls, the logo and an attribution enabled by default, with optional legends and map screenshot buttons. I'll look into more of the built-in Mapbox controls too :) Også -- er det sant at d

[2018-11-28 08:55] AnneEstoppey commented on #133
Yes I can try that, but I am a bit afraid to upgrade now that I have almost finished my edX assignment with mapbox.

Is it possible to roll back to version 0.9.0 just in case?
How?

Cheers
Anne

[2018-11-28 09:03] AnneEstoppey commented on #143
Yes, I understand the logo issue, but have a look at google maps how they solved the 'corner map clutter'?
I think a simple line (again ala google maps) would be sufficient. Something very 'lean'.

I think the scale 'object' in the JS version is too clunky, IMO. But this is my opinion (I worked a lot with cartography, thematical mapping, GIS though, but some years ago).

Also why not leave the cho

[2018-11-28 15:32] ryanbaumann commented on #133
No worries - I know the feeling!
 Use `pip install --force-reinstall mapboxgl==0.9.0` in the same python environment or kernel that you use in your Jupyter Notebook to downgrade to a specific version, if you need to.

[2018-12-11 21:38] wgova commented on #65
Has this been resolved?

[2019-01-26 15:45] ryanbaumann opened #144 "Add function type "identity" to color, radius, height stops"
# Problem

As a data scientist or developer, I want to build an application where a visualization's "height", "radius", or "color" is encoded directly into the source data as a property - for example, `"height": 2001.  This matters because I can create buildings that are the exact correct height in a 3D extrusion visualization.

# Solution

Add `identity` function to https://github.com/mapbox/mapb

[2019-02-06 16:38] ryanbaumann opened #146 "Add hexbin visualization type"
See a library fork that introduced hexbin visualizations.  We should add this to Mapboxgl-Jupyter.

https://github.com/mapbox/mapboxgl-jupyter/commit/3db35ec86f2800c391cc2ca84b2be738dfd1ff09 cc/ @dakoop

[2019-02-22 11:09] kreba opened #147 "URLs in Docs are broken"
First off, thanks for putting this library out there! :heart:

While reading the documentation I realized that many links in the text as well as URLs in the example code are broken, probably due to reorganization of the assets.

See https://github.com/mapbox/mapboxgl-jupyter/blob/master/docs/viz.md

[2019-02-22 14:46] ryanbaumann commented on #147
Thanks for the bug report @kreba!

[2019-03-19 20:57] caerus-data opened #150 "Legend in Graduated Circle Viz only works when both color_property and radius_property specified"
I want to make a GraduatedCircleViz where the circles are sized by a column in a Pandas DataFrame. I don't have a secondary feature for which I'd like to vary the color.

If I only specify `radius_propery`, the visualization is correct, but the Legend is not shown (works fine when a secondary color feature is specified)

[2019-03-19 21:38] #147 closed

[2019-03-19 23:51] akacarlyann commented on #150
@caerus-data Can you provide example code?  Using the examples in examples/notebooks/legend-controls.ipynb, I was unable to recreate your issue.  I'd like to help out -- I definitely hope to expand the customization on the map legends going forward :)

Here's what I tried just now:

[code]

This yielded a map with only the variable radius legend, which seems like what you are looking for.  I'm on

[2019-03-20 22:40] caerus-data commented on #150
`import pandas as pd
import os
from mapboxgl.utils import *
from mapboxgl.viz import *

# Set Mapbox Acces Token; Must be a public token, starting with `pk`
token = os.getenv('MAPBOX_ACCESS_TOKEN')

# Load data from sample csv
data_url = 'https://raw.githubusercontent.com/mapbox/mapboxgl-jupyter/master/examples/data/points.csv'
df = pd.read_csv(data_url).round(3)

# Generate radius breaks from dat

[2019-03-20 22:41] caerus-data commented on #150
`import pandas as pd
import os
from mapboxgl.utils import *
from mapboxgl.viz import *

# Set Mapbox Acces Token; Must be a public token, starting with `pk`
#token = os.getenv('MAPBOX_ACCESS_TOKEN')

# Load data from sample csv
data_url = 'https://raw.githubusercontent.com/mapbox/mapboxgl-jupyter/master/examples/data/points.csv'
df = pd.read_csv(data_url).round(3)

# Generate radius breaks from da

[2019-03-20 22:46] caerus-data commented on #150
![image](https://user-images.githubusercontent.com/46464699/54724176-a973de80-4b2f-11e9-96cb-a488facfef75.png)

[2019-03-20 22:47] caerus-data commented on #150
Sorry for the multiple comments - as you can see, I've duplicated the selected code with a minor change for geojson, and no legend displays.

I've deleted my browser (Chome, latest build) cache through the settings menu, but no effect.

Thanks so much for a wonderful toolbox and so much help!

[2019-03-21 14:00] akacarlyann commented on #150
@caerus-data No problem! Thanks for sharing the snippet above. Since it looks like we are running essentially the same thing with different results, can you confirm the latest commit you have checked out?  I *do* work on a different OS so I want to rule everything else out before tackling dev-environment differences.

[2019-03-21 17:16] caerus-data commented on #150
Sure thing! I think this is what you're asking...

`import mapboxgl`
`mapboxgl.__version__`

[2019-03-21 17:17] caerus-data commented on #150
Sorry if this wasn't clear, I'm on Windows 10.

[2019-03-21 19:42] akacarlyann commented on #150
What method did you use for installing the package? Did you clone the repository using git? And if so, have you updated the master branch after the recent PR was merged?

I'm also starting to think this may be a bug in JavaScript. Can you access the JS console using the browser developer tools and let me know if there are any error messages there? Thanks!

[2019-03-21 21:11] caerus-data commented on #150
`pip install mapboxgl`

Working on JS now

[2019-03-21 21:14] caerus-data commented on #150
No Errors. I've been getting this warning within Jupyter though, which I've mentioned in other chains but not here. Sorry for not bringing it up sooner

  warnings.warn("Consider using IPython.display.IFrame instead")

[2019-03-21 21:16] caerus-data commented on #150
My Anaconda is 2.7, but the environment is Python 3.6. I have this same problem in a 2.7 environment though.

[2019-03-21 21:53] akacarlyann commented on #150
How about if you try `pip install git+https://github.com/mapbox/mapboxgl-jupyter.git` to install the latest development version?

[2019-03-23 16:54] #143 closed

[2019-03-25 13:52] caerus-data commented on #150
Latest GitHub version resolved the issue! Thanks!

[2019-03-25 13:52] #150 closed

[2019-04-17 10:24] dljthomas1 commented on #10
Hi folks - I seem to be having a variant of the issue above. I am trying to run the example from [here](https://github.com/mapbox/mapboxgl-jupyter). The map is displaying fine. However, the points/data are missing.

![Screenshot 2019-04-17 at 11 18 13](https://user-images.githubusercontent.com/48061064/56280643-87578700-6102-11e9-967c-3f600ad50001.png)

Some points worth mentioning:

- I've ran th

[2019-04-17 10:26] dljthomas1 opened #152 "Issue Trying To Run Python Mapbox Example"
Hi folks - I seem to be having a variant of this issue (https://github.com/mapbox/mapboxgl-jupyter/issues/10).

I am trying to run the example from [here](https://github.com/mapbox/mapboxgl-jupyter). The map is displaying fine. However, the points/data are missing.

![Screenshot 2019-04-17 at 11 18 13](https://user-images.githubusercontent.com/48061064/56280643-87578700-6102-11e9-967c-3f600ad50001

[2019-04-17 10:41] dljthomas1 commented on #152
Ignore - Found solution here: https://github.com/mapbox/mapboxgl-jupyter/issues/50

[2019-04-17 10:41] #152 closed

[2019-05-21 01:30] vgoklani opened #153 "How to load ArcGIS JSON data into mapbox?"
I've downloaded some ArcGIS JSON but I'm unable to import it into Mapbox.

This is a sample of the geodata (I've trimmed the JSON object):

    {'displayFieldName': 'NAME',
     'fieldAliases': {},
     'geometryType': 'esriGeometryPolygon',
     'spatialReference': {'wkid': 102100, 'latestWkid': 3857},
     'fields': [],
     'features': [{'attributes': {'OBJECTID': 2050,
        'PRECINCTID': '0

[2019-05-21 03:58] akacarlyann commented on #153
Hmm, I've only worked with GeoJSON similar to the examples in the spec at https://geojson.org/.  Looks like ESRI might have a particular structure we'll need a converter for. You'll also have to account for projection, since it looks like your data is in map coordinates rather than latitude/longitude.

[2019-05-21 19:33] vgoklani opened #154 "How to load Polygon data into Mapbox?"
I converted my ArcGIS data into geojson and rendered it via geopandas, which worked correctly. But I'm unable to render this same data in Mapbox.

Here's a sample of the dataset:

		values	geometry
	0	74.6906	POLYGON ((-9236522 4858133, -9235453 4858064, -9235477 4857695, -9235931 4857721, -9235939 4857597, -9237082 4857688, -9237054 4858165, -9236522 4858133))
	1	96.4081	POLYGON ((-9235477 485769

[2019-05-21 19:34] vgoklani commented on #153
I converted this data into geojson, but was unable to render it in Mapbox. I posted this under a separate question here - please let me know if it makes sense.

https://github.com/mapbox/mapboxgl-jupyter/issues/154

[2019-05-21 19:40] akacarlyann commented on #154
I recommend starting with this example to get a feel for the Mapboxgl-jupyter library: https://github.com/mapbox/mapboxgl-jupyter/blob/master/examples/notebooks/point-viz-types-example.ipynb

Polygon maps are currently handled under the `ChoroplethViz` type, which you can find at: https://github.com/mapbox/mapboxgl-jupyter/blob/master/examples/notebooks/choropleth-viz-example.ipynb

[2019-05-21 21:58] akacarlyann commented on #154
@vgoklani will you let us know when you've succeeded in loading your dataset?

[2019-05-21 23:52] ryanbaumann commented on #153
@vgoklani to test if you have valid geoJSON, try exporting your data to file and loading it in  a tool like www.geojson.io

[2019-05-23 21:21] vgoklani commented on #154
I'm trying to understand what's in these arrays because they clearly don't look like lat/longs:

((-9236522 4858133, -9235453 4858064, -9235477 4857695, -9235931 4857721, -9235939 4857597, -9237082 4857688, -9237054 4858165, -9236522 4858133))

Any idea on how to convert these, thanks!

[2019-05-23 23:12] akacarlyann commented on #154
@vgoklani these are map units and depend on the projection you are using in your GIS software. This is a little outside the scope of this library, which is focused on providing Python bindings for rendering maps in a Jypyter interactive Python notebook using MapboxGL JavaScript library.  I recommend further reading on https://docs.mapbox.com/studio-manual/overview/ which might have some tools for

[2019-05-29 23:43] aidanlister opened #155 "MapboxGL Jupyter doesn't sanitise GeoJSON dict before passing it to the JS layer"
If you pass a GeoJSON dict with single apostrophee's in it, the notebook fails to render the map eg:

[code]

[2019-05-29 23:57] akacarlyann commented on #155
@aidanlister does your data pass muster with a GeoJSON linter tool? Mapboxgl-jupyter *does* assume the input data is a valid JSON object, Python dictionary, or DataFrame.

[2019-05-30 21:10] vgoklani commented on #154
Hello - thanks again for all your help; I eventually figured out how to properly convert the geojson data from the ARCGIS server to get the lat/lon data!

As the geojson data is a polygon (connected line segments) - is there any way to render that raw data as lines on mapbox?

I followed your suggestion above and used a ChoroplethViz as follows:

    viz = ChoroplethViz("precincts.geojson",

[2019-05-30 21:10] #153 closed

[2019-05-30 21:32] #154 closed

[2019-05-30 21:57] vgoklani opened #156 "Rendering choropleth without fill"
Hello - I would like to render two types of data on the same map:  The datasets are:

1. a polygon (connected line segments) from a geojson file. I was able to render this as a ChoroplethViz, but I had to create a fake "density" value to get the Viz to render. I only need to render the lines on the map (to define boundaries). Is that possible? Here's my ChoroplethViz approach:

    viz = Choroplet

[2019-05-31 05:21] akacarlyann commented on #156
@vgoklani You're right, multi-layer support is still pending.  I started working on this last week, so stay tuned!

I'm adding a PR (#157) to separate opacity from line opacity in the ChoroplethViz.  You can try it out here:
[code]

No need to set a `color_property`.  For now, set `color_stops` to [] if you don't want to define a list of key-color pairs.

[2019-05-31 05:37] akacarlyann commented on #156
Also, @vgoklani , since we already have a ticket for rendering multiple layers, are you okay if I edit the name of this issue to match the question you had about the choropleth fill?

[2019-05-31 14:09] vgoklani commented on #156
of course - thanks again for your help!

[2019-05-31 17:29] akacarlyann commented on #156
No problem -- hollow polygons is a good use case to know about!

[2019-06-02 14:36] #156 closed

[2019-06-03 03:26] vgoklani opened #159 "Custom choropleth border opacity - missing hover-over"
Hey there - I noticed that when changing the Choropleth to this:

     viz = ChoroplethViz('precincts.geojson',
                         access_token=token,
                         color_stops=[],
                         line_stroke='-',
                         line_color='white',
                         line_width=1,
                         opacity=0,
                         line_opacity=1,

[2019-06-03 03:30] #159 closed

[2019-06-21 19:46] samirak93 opened #160 "Mapbox Jupyter doesn't render ChoroplethViz"
I've the following data and I'm trying to plot the Choropleth Viz using Mapbox Jupyter:
[code]

[code]

The output comes out empty as below.

<img width="929" alt="Screenshot 2019-06-21 at 11 50 36 AM" src="https://user-images.githubusercontent.com/22864480/59947550-5c4f2380-9422-11e9-822d-321c92ce4582.png">

When I try the same data using [http://geojson.io](http://geojson.io)

I get the followin

[2019-06-21 20:36] akacarlyann commented on #160
Hi there, @samirak93. I'm happy to take a look. Have you tried registering your own public token on Mapbox's website?  It should start with the prefix pk.  After that, the first thing I would try would be to save your data input as a ..geojson file and reference that from your ChoroplethViz initialization.

You may also want to try
[code]

I'm at work now but will take a closer look tonight :)

[2019-06-21 20:40] samirak93 commented on #160
Hi @akacarlyann , Yes I'd inserted the public token and tried basic plots, which all seem to work without any issue.

I'd try to save the data as a GeoJSON and try the plot again. Thank you :)

[2019-06-21 23:48] samirak93 commented on #160
Hey @akacarlyann , converting the data to a geojson file worked out. Thank you. Would it be possible to save the map in a html file? Thank you.

[2019-06-22 03:47] akacarlyann commented on #160
@samirak93 No worries!  As far as I know, there aren't any chat channels, though seems like it could be useful!

So far the legend titles are automatically populated from the `color_property`, `radius_property`, or `height_property`, depending on the type of visualization.  It seems like a useful thing to be able to add custom text though -- do you mind opening a ticket for that?

If you are just

[2019-06-22 03:53] samirak93 commented on #160
Hi,

I'll raise a separate ticket for legend titles. As far as the tooltip goes, it'd be great if we could maybe rename the names on tooltip and remove unwanted properties showing up. For instance, we could probably rename "GRIDCODE" to something more meaningful. Renaming GRIDCODE in source data would solve this issue, but doing it in Mapbox would be even more simpler. Also something like making "

[2019-06-22 04:01] akacarlyann commented on #144
@ryanbaumann Would this be similar to setting `height_function_type='match'` and specifying the `height_property='height'`?  It's a little clumsy, but just wanted to check if that's the same behavior you're looking for.  I like your idea of including `height_function_type='identity'`.  Then we can have the viz automatically specify the height property without the user having to edit two arguments.

[2019-06-22 05:53] akacarlyann commented on #160
Ah, this sounds similar to the question raised in #116.  Some sort of exclusion filter for the tooltip seems to be in demand.

Perhaps we can add some some utilities for handling source data that would include altering the titles of different properties.  I think that will be a higher level of effort for vector layers than for dictionaries, DataFrames or GeoJSON files.  Hopefully we can come up wi

[2019-06-22 18:32] samirak93 opened #162 "New feature to edit colour legends title"
Hi,
It'd be great if we could edit the title of legend. Currently, the name of the `color_property` is being rendered as the title for the colour legend.

A new feature to edit the legend title name would be helpful if the name on `color_property` doesn't make sense.

Thanks.

[2019-06-22 18:33] samirak93 commented on #160
I've raised a new ticket/feature request for legends title. Thank you :)

[2019-06-22 21:20] ryanbaumann commented on #144
@akacarlyann instead of using a `height_function_type` that was `match`, we want to create a Mapbox GL expression under the hood that sets the value from the data column directly equal to the value used in the map.  The `identity` keyword would indicate to pass `['get', 'myColumnName`]` as the expression to the layer created by the Python Viz function.

[2019-06-22 23:15] akacarlyann commented on #144
@ryanbaumann cool cool. That's what I started in #161. Definitely nice to have this option.

[2019-06-24 19:01] Juanlu001 commented on #57
More information on this would be great :+1:

[2019-07-12 02:49] samirak93 commented on #146
Hi. Any idea on when this would be added? Thank you. :)

[2019-07-12 04:08] ryanbaumann commented on #146
@samirak93 Hi!  This would be easiest to add using deck.gl under the hood, similar to https://bl.ocks.org/ryanbaumann/f4a2e6970eedd1948aca182d0f184968.

I'm not actively developing this feature, but it should be straightforward to add using the approach referenced above if you want to take a stab at a PR.

[2019-07-21 05:42] Sieboldianus commented on #65
Looks like: I can install it with `conda install -c conda-forge mapboxgl `

see [https://anaconda.org/conda-forge/mapboxgl](https://anaconda.org/conda-forge/mapboxgl)

[2019-07-21 05:57] Sieboldianus opened #163 "TemplateNotFound in conda environment"
I am tr<ying to run the example Jupyter Notebook in
`../master/examples/notebooks/scale-annotation.ipynb`

I've set up my environment with conda:
`conda install -c conda-forge mapboxgl`

The file paths I've tested:

1. relative path
--mapboxgl-jupyter
----scale-annotation.ipynb
----data
------healthcare_points.geojson
----templates
------circle.html

2. up directory path
--mapboxgl-jupyter
----sca

[2019-07-21 18:44] #160 closed

[2019-07-25 19:15] akacarlyann commented on #163
@Sieboldianus just out of curiosity: are you able to execute *any* of the notebooks in your conda installation?

[2019-07-29 17:55] rmcarthur commented on #82
Any update to this issue, or plans to add it?

[2019-07-29 18:18] akacarlyann opened #164 "Coverage/Coveralls hangs indefinitely"
Each time I open a pull request, I no longer see the report from Coverage/Coveralls on the test coverage.  Is there an update to https://coveralls.io/github/mapbox/mapboxgl-jupyter/settings that would fix this?
<img width="691" alt="Screen Shot" src="https://user-images.githubusercontent.com/13527707/62071678-ea70b380-b1f1-11e9-85a1-8e594588ba3a.png">

[2019-07-29 18:21] akacarlyann commented on #164
Maybe https://github.com/lemurheavy/coveralls-public/issues/1298 refers to the appropriate settings changes?  This was the most recent discussion of a similar issue that I could find.

[2019-07-29 18:40] rmcarthur commented on #4
How relevant is this roadmap? Is this still the most important goal posts to look for?

[2019-07-29 19:19] akacarlyann commented on #4
@rmcarthur I'm not sure about the general vision but this is what I reference as a volunteer contributor :). I think multi-layer maps are the highest priority. I'm actually hoping to open a PR for this soon. Hexbin visualizations have been requested somewhat recently in the Issues tracker as well.

[2019-07-29 19:30] rmcarthur commented on #4
Are you going to fork off of #129? I really liked the approach of that, and might take a stab to fork and finish up based off the review and comments there.

[2019-07-30 01:20] akacarlyann commented on #4
@rmcarthur Yeah I set up templates using lucasvw's api approach with `add_layer` and `remove_layer` methods.  I'm actually nearly done, with the exception of legend handling.  There's not a lot of real estate, so we'll probably have to introduce some sort of minimization of the legends.

[2019-07-30 10:26] Sieboldianus commented on #163
Yes, I've just tested with cloning the entire Github Repo and walking through the example notebooks folder. I get errors for all of these, e.g.:

linestring-viz.ipynb

[code]

image-vis-type-example.ipynb

[code]

Do I have to do anything to set the template resource folder?

[2019-07-30 15:17] akacarlyann commented on #163
Ah I see.  I'm not sure if the conda distribution task was finished in #65, since that issue is still open. @ryanbaumann do you have more info?

[2019-07-30 18:02] rmcarthur commented on #4
I've actually built something very similar and having similar things with the legend. It looks great when not in an iframe though. I look forward to your PR. I can help review and comment if you'd like. I'm very new to this repo, but needed the layering aspect so I hacked something together fairly quickly. Is there anything I can help with?

[2019-07-31 05:28] akacarlyann commented on #4
Oh awesome! I suspect we are members of a growing club of multi-layer mapviz-hackers.  I'd really like to get my PR up sometime this week and happy to collaborate @rmcarthur!

[2019-07-31 07:29] pybanaszak commented on #163
I have the same issue on my side using Anaconda 2019.07.
I already used your package without any issue.

To solve this issue I had to add the templates folder of your repo in this repo on my mac : ~/anaconda3/lib/python3.7/site-packages/mapboxgl/
now the map is showing inside the iframe, but no data/markers are showing up.

My code :
`from mapboxgl.utils import *
from mapboxgl.viz import *

# Gene

[2019-08-01 01:52] maciejb opened #165 "Examples don't work as shown, due to Jupyter "Blocking request with no referer""
I tried running the examples as shown in the docs, e.g. the CircleViz in the README, and the result is a blank map (tiles but no markers).

Looking at the Jupyter logs:
[code]

This can easily be worked around by storing the `df_to_geojson()` to a variable instead of a file, and reading that variable when creating the viz.

Tried with a few different browsers and both a local and remote notebook s

[2019-08-05 19:40] ryanbaumann commented on #82
@rmcarthur this remains on the roadmap but we do not have a target release date.

This draft PR in Mapbox GL JS will make this feature easy to implement in the most performant way - https://github.com/mapbox/mapbox-gl-js/pull/8448.  Once this merges it should provide a straightforward solution to adding "playback" capabilities along any property/dimension in a dataset using FeatureState.

[2019-08-05 19:50] ryanbaumann commented on #4
Yes, it certainly seems so!  Thank you @akacarlyann @rmcarthur for leading the charge.  Looking forward to a draft PR to review.

[2019-08-05 19:51] ryanbaumann commented on #163
I did not publish the Anaconda distribution currently in Conda Forge.  That's why the issue in this repo (https://github.com/mapbox/mapboxgl-jupyter/issues/65) is still open.

[2019-08-19 00:47] ryanbaumann commented on #165
We should update the documentation to use an in-memory variable assignment as opposed to a flat file export.  The web servers that run various Jupyter environments have various configurations (`cors` settings, relative file paths, etc) that can cause issues with referencing a locally exported file.

Thanks for flagging this @maciejb

[2019-08-20 19:09] nanodan commented on #146
You can easily do this with the current choropleth visualization and h3 library.

[2019-08-20 21:04] ryanbaumann commented on #146
Excellent suggestion @nanodan - would you be willing to share an example notebook or create a PR to add your example?  Thank you!

[2019-09-16 06:19] almo-ltoeroek commented on #165
same here

[2019-09-22 01:42] ryanrolds commented on #165
Encountering this too, I was only able to get it to work with `c.NotebookApp.disable_check_xsrf = True`, which is *not recommended* for security reasons.

[2019-10-08 20:01] kevinlib opened #169 "ChoroplethViz color function type always default"
When I create the Viz object and try to pass in a different color_function_type value (e.g. 'step'), the Viz display maintains the interpolate function even though the attribute in the Viz object has been changed.

Any ideas on why this is happening?

[2019-10-09 15:33] akacarlyann commented on #169
Hi @kevinlib!  Can you describe the `'step'` `color_function_type`?  In the docs, I only see support for `'interpolate'` (the default) or `'match'`.

[2019-10-09 18:18] kevinlib commented on #169
I'd like to have discrete steps instead of having a continuous scale by interpolating. For reference: https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step. I couldn't find in the docs the supported values.

[2019-10-09 18:43] akacarlyann commented on #169
As a quick fix, I would suggest binning your source data  and assigning a `color_property` that can be used with the `'match'` color function.  Let me know if that makes sense for your use case?

Longer term-- sounds like the issue here is you'd like support for the native MapboxGL step expression. Mind if I update the issue title to reflect that? Then someone can get started on a PR for this feat

[2019-10-09 18:49] akacarlyann commented on #169
@kevinlib Also to strictly answer your original q: changing the `color_function_type` will only have an effect if it is changed to `'match'` or (soon) `'identity'` (when #161 gets merged in).  Otherwise, it will default to `'interpolate'`.  Thanks for pointing out that we may need to provide some logic to validate other user input.

[2019-10-10 14:00] kevinlib commented on #169
@akacarlyann, thanks for being so responsive. I'll try out binning beforehand with `'match'` and yes feel free to change the issue title.

[2019-10-16 02:23] nygeog commented on #165
Launching notebook `jupyter notebook --NotebookApp.disable_check_xsrf=True` also worked for me.

[2019-10-17 20:46] globetro commented on #75
You can display in a DataBricks notebook via:

[code]

[2019-10-24 15:44] #165 closed

[2019-10-24 16:05] ryanbaumann commented on #75
Thanks @globetro .  Let's use your suggestion as the accepted solution.

[2019-10-24 16:05] #75 closed

[2019-10-24 16:16] ryanbaumann commented on #165
Closed with PR #170

[2019-11-26 23:16] nahidpervez commented on #34
@ryanbaumann Any idea when this feature will be released?

[2020-02-19 19:07] dprophet opened #175 "Is there a way to hide the "token = os.getenv('MAPBOX_ACCESS_TOKEN')""
In all of the example notebooks you get the mapbox token from the environment like so

"token = os.getenv('MAPBOX_ACCESS_TOKEN')"

If we used a hosted Jupyter notebook environment we certainly dont want to pass our Mapbox token around to users. How do make the token part of the install/Jupyter platform not part of the notebook runtime?

[2020-02-19 19:39] vincentsarago commented on #175
Hi @dprophet
When looking at the code, I think the token will be set by default, so there is no need to pass the token to the viz as long as you have `MAPBOX_ACCESS_TOKEN` in your env https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/viz.py#L177

[2020-02-19 20:26] dprophet opened #176 "Will Mapbox add support for JupyterLab?"
Will Mapbox add support for JupyterLab?

Take a look at ipyleaflet in how they create the nbextensions

https://github.com/jupyter-widgets/ipyleaflet#installation

It seems that Mapbox created this quick prototype but its not keeping up with Jupyter development. A fully interactive Mapbox JupyterLab widget would be amazing for DataScience.

This means moving away from your IFrame to a 1st class ci

[2020-02-19 20:42] dprophet opened #177 "Please add interactive callback events to this widget."
Please add interactive events in this Mapbox widget, like what ipyleaflet has

I see in the [ROADMAP.md](../blob/master/ROADMAP.md)
"Hover/Highlight/select styles on mousemove and selection on click"

I do see some
[code]

But this work does not appear to be done?

Even if this is complete there are no examples of using interactive events in the mapbox [examples](../tree/master/examples/notebooks)

[2020-02-19 21:55] akacarlyann commented on #176
Hi there! Is this something you'd be interested in collaborating on?

[2020-02-27 14:25] dprophet commented on #175
The problem with MAPBOX_ACCESS_TOKEN is that token can be viewed via os.environ. In a hosted Jupyter environment, like a Docker container, the access token must not be exposed to the user.

[2020-03-09 09:48] keweik opened #178 "Adding search for map"
Hi

Is it possible to address search to the map?

Thanks!

[2020-03-12 13:23] dprophet commented on #176
@akacarlyann Sorry, it has taken a while but I had to get some other work finished up. Absolutely, collaboration makes better results and makes us consider other use cases.

My rough trajectory is
1) Remove iFrame
2) Add in jupyter nbextensions extensions
3) Add #177 (interactive callbacks).

Maps are great for humans viewing a map but there is so much more thats needed for geospatial data explora

[2020-04-25 04:06] MatteoSerafino opened #179 "I just started to read the documentations of mapboxgl. I was working with folium before."

[2020-04-25 17:47] akacarlyann commented on #179
Hi @MatteoSerafino , timesliders are on the project roadmap, but there's no default tools for that in this Jupyter toolbox yet.  I'm guessing you're envisioning something like https://docs.mapbox.com/help/demos/show-changes-over-time/step-three.html but with heatmap data instead of graduated circles?

[2020-04-25 17:54] akacarlyann commented on #178
Hi @keweik !  Is this what you had in mind?
https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/

[2020-04-25 18:06] akacarlyann commented on #176
@dprophet I think there was some interest in shifting away from iFrames by other users as well.  I haven't really looked into that so it would be cool to see what you come up with!

[2020-04-25 18:13] akacarlyann commented on #175
I'm not sure if this works for your use case, but it sounds like you could avoid supplying the MAPBOX_ACCESS_TOKEN via your hosted notebook at all and require the user to sign up for a free token from Mapbox that they would then supply to the viz constructor directly?  Otherwise, I think this requires use of the Mapboxgl JavaScript library tokens api (https://docs.mapbox.com/api/accounts/#tokens).

[2020-04-25 18:14] akacarlyann commented on #179
Related to #82

[2020-04-25 20:05] MatteoSerafino commented on #179
Hi @akacarlyann, thank you for the answer.   Yes I'm looking something like
https://docs.mapbox.com/help/demos/show-changes-over-time/step-three.html but for the heatmap.
Actually I would like to have automatic reproduction as it is folium.
Would be possible something like that?

[2020-04-25 21:45] dprophet commented on #176
@akacarlyann I believe @lerenah will be starting on this. Perhaps you 2 want to collaborate together.

[2020-04-25 21:47] dprophet commented on #175
MAPBOX_ACCESS_TOKEN  is bad. All I need to do is print the environment variables and its exposed.

[2020-04-25 22:48] akacarlyann commented on #176
@dprophet I'm not a jupyter lab user, but happy to provide input on what's currently implemented in this repo :)

[2020-04-28 10:25] #178 closed

[2020-06-09 17:45] ryanbaumann commented on #175
@dprophet we should update the examples to not use an environment variable - you can simply pass your mapbox access token as a variable to the map viz initialization i.e.

[code]

[2020-06-16 15:08] ghirardinicola opened #180 "Subplot support"
Can someone help me in having this working, in a similar as matplotlib and plotly?
https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.subplots.html
https://plotly.com/python/subplots/

[2020-06-16 19:53] akacarlyann commented on #180
@ghirardinicola any way you could provide a sketch-up of what you mean? This library is designed to help users generate maps in a Jupyter notebook and optionally export the resulting HTML+JS to include in other web resources.  Are you looking to create side by side maps?

[2020-06-17 12:47] ghirardinicola commented on #180
I'm  looking to create side by side maps.
You can find images in the links

[2020-06-19 04:58] akacarlyann commented on #180
I'm familiar with static subplots in Python. Since mapboxgl-jupyter is displaying JavaScript in a Jupyter cell, I'd like a little more detail on possible map layouts. Are you hoping the interactions with data layers in the maps will be linked in any way? If not, we could just develop a way to append additional maps to the template and handle placement with CSS.

[2020-06-23 14:26] ghirardinicola commented on #180
I'm not looking at any linked interaction, "only" multiple dynamic maps on a grid

[2020-07-06 16:23] kevalshah90 commented on #19
Stumbled upon this issue while looking for a fix for: https://stackoverflow.com/questions/62751062/mapbox-gl-in-jupyter-notebook-add-custom-marker/.

I'd like to use a custom marker for point coordinates, however, not seeing where do I make the fix.

[2020-07-07 01:21] akacarlyann commented on #19
Hey there @kevalshah90 , I had started something along those lines with https://github.com/mapbox/mapboxgl-jupyter/pull/149.  Does something along those lines meet your need?  Or are you looking for something that just substitutes a different shape in place of a circle marker?  That's not (yet) supported, but definitely something we could look into!

[2020-07-07 05:33] kevalshah90 commented on #19
Hi @akacarlyann. Thanks. Yes, I think something along those lines would
work. I was looking to replace the circle marker with a different icon from
maki library, if available, if not, replace it with a different custom
icon/image.

Side question, how do I change the size of the circle marker? Thx.

On Tue, Jul 7, 2020, 06:51 akacarlyann <notifications@github.com> wrote:

[2020-07-07 16:48] akacarlyann commented on #19
@kevalshah90 ah yes, the maki icons was the direction we decided to go, instead of that old PR I linked.  I haven't gotten around to it yet, but glad to hear there's another vote for that feature.

For changing the marker radius, if you are using the `CircleViz` type, (https://mapbox-mapboxgl-jupyter.readthedocs-hosted.com/en/latest/viz.html#class-circleviz) then you can set the radius as an argum

[2020-07-07 18:42] kevalshah90 commented on #19
Excellent. That worked! Thanks, I might have missed it in the
documentation.

Yes, I look forward to when you push those changes. It's a feature I am
quite keen on. Does this apply for jupyter-notebook/mapbox-gl only?

On Tue, Jul 7, 2020 at 10:18 PM akacarlyann <notifications@github.com>
wrote:

[2020-07-07 23:47] akacarlyann commented on #19
Glad to hear it!  I think the answer to your question is yes. This repository just implements Python bindings to create visualizations embedded in a Jupyter notebook using Mapbox's JavaScript library.  We are currently loading the Mapbox GL JS version 1.5.0 in our HTML template.

Thanks for reaching out!  Hoping to revisit some more features on this project again soon :)

[2020-09-04 14:41] rerickson-usgs commented on #163
@ryanbaumann as an FYI, this issue is still haunting Conda Forge over a year later. For anybody looking for the quick fix in the terminal, here it is:

[code]

[2020-11-16 15:30] xchen0326 opened #181 "How to hide the legends for GraduatedCircleViz?"
I tried legend=False but it does not work. I wanted to assign the radius and the color of the circles based on two properties, but it leads to a problem that there creates two legends which either overlap each other or overlap the map. How can I fix that?

[2020-12-06 06:03] akacarlyann commented on #181
Hi @xchen0326 sorry for the delay.  Hope you found a workaround in the meantime!  This bug is due to an oversight where some default values are not being set in the main.html template when legend is set to False.  The easiest way around this would be to update the `mapboxgl.viz.MapViz.create_html` method so that all of the legend-based settings are included in the template either way.  This could

[2021-02-05 15:42] ryan-williams opened #182 "Example displays base map but not points"
mapboxgl 0.10.2 in a Python 3.8.6 kernel in Jupyter:

<details><summary>Code</summary>

[code]
</details>

![mapboxgl jupyter widget showing base map but no points](https://user-images.githubusercontent.com/465045/107054518-3d8bd500-679e-11eb-868d-14e8afb42091.png)

I expected to see points on the map, like in the screenshot in the docs:
![jupyter screenshot from docs showing points on a map](http

[2021-02-05 16:19] ryan-williams commented on #182
[`examples/notebooks/circle-vector.ipynb`](https://github.com/mapbox/mapboxgl-jupyter/blob/master/examples/notebooks/circle-vector.ipynb) is basically the same viz, but constructed differently (it doesn't use `df_to_geojson`), and it works for me… not sure what the issue is with the `df_to_geojson` example

[2021-05-14 07:02] rocu-mapspeople opened #184 "any chance multiple viz can be combined in a single view?"
e.g. I want to use CircleViz and RasterTilesViz together so I can see some data over custom tiles.

is this possible?

[2021-05-31 05:02] aidanlister commented on #155
@akacarlyann it's not serialising the data properly when writing it to a file ... it's nothing to do with the input (e.g. an apostrophe in `property` shouldn't crash the script).

[2021-05-31 05:37] aidanlister opened #185 "viz.create_html() rounds lat/lng to 4 decimal places which drops accuracy to 11m"
This is the difference between this:

<img width="596" alt="Screen Shot 2021-05-31 at 3 37 04 pm" src="https://user-images.githubusercontent.com/54896/120144890-101fd700-c226-11eb-9da8-d849f89b8160.png">

And this:

<img width="823" alt="Screen Shot 2021-05-31 at 3 36 23 pm" src="https://user-images.githubusercontent.com/54896/120144899-131ac780-c226-11eb-90cd-69e3c3ad5824.png">

[2021-10-19 08:44] annesophie-cls opened #188 "How to hide null/Nan values on a CircleViz ?"
Null values are displayed with black circles on the map
How can i hide them ?

![code1](https://user-images.githubusercontent.com/56978320/137875178-9d6dd516-c3fe-424b-8248-f397ae83d59d.png)

![code2](https://user-images.githubusercontent.com/56978320/137875218-8309b8b2-cfa6-4117-86c9-f9d0ebef45c0.png)

[2021-12-24 02:58] EeoBryan opened #189 "Uncaught Error: An API access token is required to use Mapbox GL."
I'm using mapboxgl in python, after i entered my API token "token = os.getenv('pk.eyJ1IjoiYnJ5YW5lZW8iLCJhIjoiY2t4aXF3a2I3MGQ1aTJycWtrYXgxNjJwdCJ9xxxxxxxxx')" for reference purposes. I got the error saying that an API access token is required.

Does anyone knows what seems to be the issue?

[2022-01-11 05:02] kinow commented on #163
There are two archives in PYPI, one the source distribution, and the other a wheel file. The wheel contains the templates folder, but the source distribution doesn't.

The conda package is built using the PYPI source distribution, so the Conda Forge installation results in a module without the templates folder.

I downloaded the wheel file, unzipped it, then copied the `templates` folder over to m

[2022-10-19 20:30] DManowitz opened #191 "Mapboxgl cannot be imported on Windows 10 after conda install"
I installed mapboxgl from conda-forge, but when I try to import it (or anything from it), I get the following error:

[code]